<html>
<style>
  /* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */

body {
  font-family: sans-serif;
  top: -6px !important;
  margin-top: 0;
  width: 100% !important;
  height: 100% !important;
  bottom: 0 !important;
  color: #5a5a5a ;
  background-color: #222 !important;
}


body::-webkit-scrollbar {
  width: 0.5%;
  background:transparent !important;
}

body::-webkit-scrollbar-track {
  display: none;
  background:transparent !important;
}

body::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #f0ad4e;
  outline: 4px solid #f0ad4e;
}

li {
  margin-bottom: 0 !important;
}

::selection {
  background: #FFB700 !important;
  color:  white !important;
  font-weight: 500 !important;
}

img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

p {
  text-align: justify !important;
  font-family: sans-serif !important;
  font-size: 18px !important;
  line-height: 1.5;
  width: 100%;
  height: auto;
  word-wrap:break-word;
  word-break: keep-all !important;
  overflow: hidden;
}

.popover-title {
  background-color: rgba(255,190,27,0.78) ;
  color: #333333;
  font-size: 20px;
}

.popover-content {
  color: #333333;
  font-size: 16px;
  font-weight: 400 !important;
}

.mw-body{
  padding: 0px !important;
}

.col-md-9 > p {
  padding-bottom: 1% !important;
}

.col-md-9 > div > p {
  padding-bottom: 1% !important;
}

.container > p {
  padding-bottom: 1% !important;
}

.tab-pane > p {
  padding-bottom: 1% !important;
}


/* remove some details-------------------------------------------------- */
#home_logo, #sideMenu{
  display:none;
}

#sideMenu, #top_title, .patrollink{
  display:none;
}

#content {
  max-width: 100% !important;
  width: 100% !important;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  align-self: center;
}

#globalWrapper {
  padding-bottom: 0px !important;
}

#mw-content-text {
  height: 100% !important;
}

#bodyContent {
  height: 100% !important;
}

#HQ_page p {
  margin-bottom: 0;
}

@media (min-width: 768px){
  .modal-dialog {
    width: 80%;
    margin: 30px auto;
  }
}

#tmback {
  /* The image used */
  background-image: url("https://2019.igem.org/wiki/images/3/36/T--SYSU-CHINA--indextm1.jpg");
  background-color: black;

  /* Full height */
  width: calc(100%);
  height: calc((100vw) * (1/3));


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}


#pjback {
  /* The image used */
  background-image: url("https://2019.igem.org/wiki/images/8/8d/T--SYSU-CHINA--indexpj2.jpg");
  background-color: #f0ad4e;

  /* Full height */
  width: calc(100%);
  height: calc((100vw) * (1/3));


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

#mdback {
  /* The image used */
  background-image: url("https://2019.igem.org/wiki/images/a/af/T--SYSU-CHINA--indexmd3.jpg");
  background-color: black;

  /* Full height */
  width: calc(100%);
  height: calc((100vw) * (1/3));


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

#partsback {
  /* The image used */
  background-image: url("https://2019.igem.org/wiki/images/9/9d/T--SYSU-CHINA--indexparts4.jpg");
  background-color: #f0ad4e;

  /* Full height */
  width: calc(100%);
  height: calc((100vw) * (1/3));


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

#sfback {
  /* The image used */
  background-image: url("https://2019.igem.org/wiki/images/b/bb/T--SYSU-CHINA--indexsf5.jpg");
  background-color: black;

  /* Full height */
  width: calc(100%);
  height: calc((100vw) * (1/3));


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

#hpback {
  /* The image used */
  background-image: url("https://2019.igem.org/wiki/images/d/dc/T--SYSU-CHINA--indexhp6.jpg");
  background-color: #f0ad4e;

  /* Full height */
  width: calc(100%);
  height: calc((100vw) * (1/3));


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.indexboard {
  background-color: rgba(90,90,90,0.4);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.indexboard:hover {
  background-color: rgba(90,90,90,0.8);
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.hugetitle {
  font-size: 80px;
  text-shadow: #f0ad4e 0.1em 0.1em 0.2em !important;
}


/* index special
-------------------------------------------------- */
.indexbutton {
  border: none;
  background-color: rgba(226,226,226,0.3);
  color: white !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.indexbutton:hover {
  background-color: #484848;
  color: rgba(255,255,255,1);
}


.pstyle {
  padding-bottom: 1% !important;
}


.carousel-indicators {
  width:200px;
}


/* HP special
-------------------------------------------------- */
.hptitle {
  position: relative;
  width: 90%;
  left: 3%;
  right: 5%;
  margin-top: 10%;
  margin-bottom: 3% !important;
  vertical-align: center;
  text-align: center !important;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 60px !important;
  font-weight: 700;
  color: #f0ad4e;
}

.nav-tabs {
  position: relative;
  width: 90%;
  left: 5%;
  right: 5%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 1%;
  color: #333333 !important;
  border-top: 5px solid #FFB700;
  background-color: rgba(226,226,226,0.3);
  border-bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: sans-serif !important;
  font-size: 18px !important;
  font-weight: 700;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: default;
  color: white !important;
  background-color: #FFB700;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.hptab {
  color: #333333 !important;
}

.hptab:hover {
  color: #333333 !important;
}


.tab-content {
  position: relative;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #FFB700;
  border-top: 5px solid #FFB700;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1%;
}


/* Collaborations special
-------------------------------------------------- */
.mb-0 {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


.card-body {
  font-size: 18px;
  border-left: 5px solid #FFB700;
  border-right: 5px solid #FFB700;
  background-color: #eaeaea !important;
  padding: 1%;
}

#mycontentcolla {
  padding: 0 !important;
  text-align: center;
  padding-top: 0 !important;
  margin-left: 10%;
  width: 80%;
}


.hpstyle {
  margin:0 !important;
  background-color: #555555 !important;
  color:  white !important;
  border: none !important;
  border-left: 5px solid #f0ad4e !important;
  border-right: 5px solid #f0ad4e !important;
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 90;
}

.hpstyle:hover {
  background: #f0ad4e !important;
  color:  #333333 !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.hpstyle:focus, .hpstyle:active {
  outline: none !important;
  box-shadow: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.col-md-15 {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;

}


/* IHP special
-------------------------------------------------- */

#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #f0ad4e;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #f0ad4e;
  z-index: 10;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #f0ad4e;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #f0ad4e;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #f0ad4e;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #f0ad4e;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #FFB700;
  font-size: 1.3em;
}

.timeline-panel:hover {
  box-shadow: 1px 1px 5px 4px #f0ad4e !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.col-ms-11 {
  text-align: right;
}

.modal-backdrop {
  z-index: 40;
}

.modal-content {
  z-index: 100;
}


/* Model special
-------------------------------------------------- */
.md {
  opacity: 0.0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.md.show {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}


.nav-header {
  background-color: #444444 !important;
  color:  white !important;
  border: none !important;
  border-left: 5px solid #f0ad4e !important;
  border-right: 3px solid #f0ad4e !important;
  margin-bottom: 0 !important;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 90;
}

.nav-header:hover {
  background: #f0ad4e !important;
  padding-left: 10% !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;

}


.mdstyle {
  margin:0 !important;
  background-color: #555555 !important;
  color:  white !important;
  border: none !important;
  border-left: 5px solid #f0ad4e !important;
  border-right: 3px solid #f0ad4e !important;
  margin-bottom: 0 !important;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 90;
}

.mdstyle:hover {
  background: #f0ad4e !important;
  color:  #333333 !important;
  padding-left: 10% !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}




/* Progress Bar
-------------------------------------------------- */
.progress-container {
  width: 100%;
}

.progress-bar {
  text-align: center;
  padding-top: 4px;
  font-size:22px;
  font-weight: 700;
  text-align: center;
  height: 30px;
  background: #f0ad4e;
  width: 0%;
  -webkit-transition: all 0.1s ease-in-out !important;
  -moz-transition: all 0.1s ease-in-out !important;
  -ms-transition: all 0.1s ease-in-out !important;
  -o-transition: all 0.1s ease-in-out !important;
  transition: all 0.1s ease-in-out !important;
}

.progress-bar:hover {
  height: 30px;
  font-size:25px;
  background: #f0ad4e;
  width: 0%;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.progress-value {
  position:absolute;
  right:0;
  left:0;
}

.hua0 .hua1 .hua2 {
  text-align: center;
  padding-top: 4px;
  font-size:22px;
  font-weight: 700;
  text-align: center;
  height: 30px;
  display: none !important;
}



/* SideBar
-------------------------------------------------- */
list-group {
  position: fixed;
}

.list-group-item {
  position: fixed;
  opacity: 0.0;
  background-color: #444444 !important;
  color:  white !important;
  border: none !important;
  border-left: 5px solid #f0ad4e !important;
  border-right: 3px solid #f0ad4e !important;
  margin-bottom: 0 !important;
  padding-left: 5% !important;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 90;
}


.list-group-item:hover {
  background-color: #f0ad4e !important;
  color:  #333333 !important;
  padding-left: 15% !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list-group-item.show {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}

.mynav {
  width: 13%;
  top: 25%;
}

.mynav > li {
  margin-bottom: 0 !important;
  margin-left: 0 !important;

}



/* Content
-------------------------------------------------- */
.mycontainer {
  position: relative;
  width: 85%;
  left: 5%;
  right: 5%;
  margin-top: 5%;
  margin-bottom: 1% !important;
}

.tab-ls {
  padding-left: 80px;
}

.tab-text {
  padding-left: 40px;
}

h1 {
  font-family: sans-serif !important;
  font-weight: 800 !important;
  margin-bottom: 0 !important;
}

h2 {
  width: 100% !important;
  height: 100%;
  font-family: sans-serif !important;
  font-weight: 700 !important;
  margin-bottom: 25px;
  margin-top: 50px;
  border-left: 6px solid #f0ad4e;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px
}

h3 {
  font-family: sans-serif !important;
  color: #666666;
  font-weight: 600 !important;
  margin-bottom: 10px;
  margin-top: 25px;
  border-left: 3px solid #333333;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px
}

h4 {
  font-family: sans-serif !important;
  font-size: 22px;
  color: #444444;
  font-weight: 500 !important;
  margin-bottom: 25px;
  padding-top: 10px;
}


.col-md-9 {
  margin-left: 1%;
  background-color: #f8f8f8;
  border-left: 4px solid #444444;
  padding-top: 3% !important;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.col-md-12 {
  border-top: 2px solid #555555!important;
  padding-right: -10%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.col-md-13 {
  border-top: 1px solid #777777!important;
  padding-right: -10%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.col-md-14 {
  border-top: 1px solid #C8C8C8 !important;
  padding-right: -10%;
  margin-top: 40px;
  margin-bottom: 8%;
}



.piccontent {
  font-size: 20px !important;
  font-weight: 500;
  text-align: center !important;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-header:hover {
  box-shadow: 1px 1px 5px 2px #f0ad4e !important;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}


.navbar-brand {
  height: 50px;
  width: 300px;
  font-size: 18px;
  padding: 0px;
  font-weight: 700;
  text-align: center;
}

.navbar .nav > li > a {
  color:  #f9d26b;
}

.dropdown-toggle {
  height: 50px;
  width: 150px;
  font-size: 18px;
  text-align: center;
}

.dropdown-toggle:hover {
  background-color: black;
}

.navbar-wrapper {
  position: absolute;
  width: 100% !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  top:14px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1000;
}
.navbar-wrapper .navbar .container {
  width: 100% !important;
}
.dropdown-menu {
  font-size: 16px;
}

/* fade-in */
.open > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration:.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration:.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration:.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* auto drop */
.navbar-nav li:hover .dropdown-menu{
  margin-top: 0px;
  visibility:visible;
  border-top: 4px solid #FFB700;
  border-radius: 0;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:#FFEDBF;
}

/* caret pointing direction */
.nav .dropdown.open .caret{
  transform:rotate(-180deg);
  transition:all 0.4s ease-in-out; /*for smoothness*/
}

/* footer settings
-------------------------------------------------- */

.page-footer {
  position: relative;
  width: 100% !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0px !important;
  top: 30%;
  bottom: 0px;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #222;
  border-top: 4px solid #FFB700;
  border-bottom: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  height: 100%;
  color: white;
  margin-bottom: 0;

}

.row1{
  display:inline-block;
  vertical-align: middle;
  float: none;
  text-align:center !important;
  width: 95%;
  margin-bottom: 1%;
}

.col-md-3{
  display:inline-block;
  vertical-align: middle;
  float: none;
  height: 200px;
}

h6{
  margin-bottom: 0;
}

.ftbutton:hover {
  box-shadow: 1px 1px 5px 2px #f0ad4e !important;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  width: calc(100%);
  height: calc((100vw) * (1/3));
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  width: calc(100%);
  height: calc((100vw) * (1/3));
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc((100vw) * (1/3));
}

.carousel-inner {
  width: calc(100%);
  height: calc((100vw) * (1/3));
}

.carousel-control {
  color: whitesmoke !important;
  height: calc((100vw) * (1/3));
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.text-muted {
  font-size:30px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  margin-top: 0px !important;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Back to up Button
------------------------- */
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 120;
  background-color: #444444;
  color: #eeeeee;
  width: 70px;
  height: 70px;
  line-height: 48px;
  right: 7%;
  bottom: 150px;
  padding-top: 2px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
  background-color: #727272;
}

.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/* up to next Button
------------------------- */
.scroll-down-wrapper {
  position: fixed;
  opacity: 1.0;
  visibility: visible;
  overflow: hidden;
  text-align: center;
  z-index: 100;
  background-color: rgba(68, 68, 68, 0.5);
  color: #eeeeee;
  width: 70px;
  height: 70px;
  line-height: 48px;
  top: 80%;
  right: 48%;
  bottom: 150px;
  padding-top: 2px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-down-wrapper:hover {
  background-color: rgba(206, 206, 206, 0.5);
}

.scroll-down-wrapper.hide {
  visibility:hidden;
  cursor:pointer;
  opacity: 0.0;
}

.scroll-down-wrapper i.fa {
  line-height: inherit;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1000px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    width: 100%;
    /*#padding-right: 15px;
    #padding-left: 15px;*/
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

</style>
  </html>
