{{SYSU-CHINA/bootstrap.css}}
{{SYSU-CHINA/carousel.css}}
{{Template:SYSU-CHINA/navbartop}}
{{Template:SYSU-CHINA/backtotopbutton}}
<html>
<body>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>


  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <img class="first-slide" src="https://2019.igem.org/wiki/images/3/36/T--SYSU-CHINA--indextm1.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="hugetitle">Our Team</h1>
          <p class="piccontent indexboard"> Behind Holmes and Dr. Sun, there is a group of people who support them silently. They are from Dr. Sun’s alma mater, Sun Yat-sen University. As an assistant to Holmes, they assisted Holmes in fulfilling his vision.</p>
          <div class="text-center"><a class="btn btn-lg btn-primary indexbutton" href="http://2019.igem.org/Team:SYSU-CHINA/Team_Members" role="button"><i class="glyphicon glyphicon-send"></i>  Learn more</a></div>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="second-slide" src="https://2019.igem.org/wiki/images/8/8d/T--SYSU-CHINA--indexpj2.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="hugetitle">Our Project</h1>
          <p class="piccontent indexboard"> This time Holmes wants to help Dr. Sun track the traces of colon cancer 44, but he seems to be in trouble. Click here to see how he overcomes these difficulties and brought colon cancer to justice.</p>
          <div class="text-center"><a style="width: 200px;" class="btn btn-lg btn-primary indexbutton" href="http://2019.igem.org/Team:SYSU-CHINA/Description" role="button"><i class="glyphicon glyphicon-send"></i>  Learn more</a></div></div>
      </div>
    </div>

    <div class="item">
      <img class="third-slide" src="https://2019.igem.org/wiki/images/a/af/T--SYSU-CHINA--indexmd3.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="hugetitle">Modeling</h1>
          <p class="piccontent indexboard"> Holmes is a well-rounded person who uses a lot of data and evidence to support his inference and predict the actions of the enemy. Come and see his wonderful wisdom together!</p>
          <div class="text-center"><a style="width: 200px;" class="btn btn-lg btn-primary indexbutton" href="http://2019.igem.org/Team:SYSU-CHINA/Model" role="button"><i class="glyphicon glyphicon-send"></i>  Learn more</a></div>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="second-slide" src="https://2019.igem.org/wiki/images/9/9d/T--SYSU-CHINA--indexparts4.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="hugetitle">Parts</h1>
          <p class="piccontent indexboard "> At work, detectives deal with different scenes through different weapons. Holmes and Dr. Sun are both masters of weapons. Come and see their arsenal! Learn more！</p>
          <div class="text-center"><a style="width: 200px;" class="btn btn-lg btn-primary indexbutton" href="http://2019.igem.org/Team:SYSU-CHINA/Parts" role="button"><i class="glyphicon glyphicon-send"></i>  Learn more</a></div>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="second-slide" src="https://2019.igem.org/wiki/images/b/bb/T--SYSU-CHINA--indexsf5.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="hugetitle">Safety</h1>
          <p class="piccontent indexboard"> When Holmes first moved to the cell city, everyone thought he was an insecure figure. But he proved his safety and reliability with practical actions. Want to know more specific processes?</p>
          <div class="text-center"><a class="btn btn-lg btn-primary indexbutton" href="http://2019.igem.org/Team:SYSU-CHINA/Safety" role="button"><i class="glyphicon glyphicon-send"></i>  Learn more</a></div>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="second-slide" src="https://2019.igem.org/wiki/images/d/dc/T--SYSU-CHINA--indexhp6.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="hugetitle">Human Practices</h1>
          <p class="piccontent indexboard"> Detective work needs to face all kinds of troubles, but Holmes has a group of magical friends who always give Holmes the most critical advice, let us see who they are.</p>
          <div class="text-center"><a class="btn btn-lg btn-primary indexbutton" href="http://2019.igem.org/Team:SYSU-CHINA/Human_Practices" role="button"><i class="glyphicon glyphicon-send"></i>  Learn more</a></div>
        </div>
      </div>
    </div>

  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="https://2019.igem.org/wiki/images/2/2d/T--SYSU-CHINA--head1.png" alt="Generic placeholder image" width="140" height="140">
      <h2 >AdmiT·Holmes</h2>
      <p><a style="color: #f0ad4e; font-weight: 600;">An Adenovirus Detective</a> from 221 Baker Street. He is a guardian of order from outside the cell city, and is also known as the old smoker who couldn’t leave Dox shredded tobacco. He is good at using logical deduction to lock targets through clues. Recently he is tracking a group of cancer cells that have been destroyed in the cell city. At the same time, the young Dr. Sun found him hoping he could find a colon cancer cell...... (About where he came from，read more in <a style="color: #f0ad4e; font-weight: 600;">Design</a> part) </p>
      <div class="text-center"><a class="btn btn-default hpstyle" href="http://2019.igem.org/Team:SYSU-CHINA/Design" role="button">View details &raquo;</a></div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://2019.igem.org/wiki/images/f/fa/T--SYSU-CHINA--head2.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Dr. Sun</h2>
      <p><a style="color: #f0ad4e; font-weight: 600;">Dr. Sun</a> graduated from Sun Yat-sen University, and he once had a happy family and enviable job. But a turmoil that occurred in the cell city made him lose everything, and he vowed to avenge the murderer colon cancer. When he was full of helplessness, he met AdmiT detective
        . The pair began to search for traces of colon cancer together... (Learn about Dr. Sun and the <a style="color: #f0ad4e; font-weight: 600;">SYSU-CHINA team</a> supporting him in the back)</p>
      <div class="text-center"><a class="btn btn-default hpstyle" href="http://2019.igem.org/Team:SYSU-CHINA/Team_Members" role="button">View details &raquo;</a></div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://2019.igem.org/wiki/images/b/ba/T--SYSU-CHINA--head3.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Colon Cancer</h2>
      <p>A disruptive molecule in a cell city, a member of a cancer organization that excels at disguising himself and destroying the city. Their camouflage skills make most immune cell detectives powerless. In a recent case, colon cancer 44 detonated explosives in the mall and killed Dr. Sun's children and wife. Now the AdmiT detective wants to start with him and track the tumor tissue behind him. But will he let the detective do it or not? (see more about its end at <a style="color: #f0ad4e; font-weight: 600;">Demonstrate</a>)</p>
      <div class="text-center"><a class="btn btn-default hpstyle" href="http://2019.igem.org/Team:SYSU-CHINA/Demonstrate" role="button">View details &raquo;</a></div>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <!-- FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Cell City <span class="text-muted"> Re-emergence of the murderer</span></h2>
      <p class="lead">Inspector Dr. Sun, all by himself, was sitting in front of an old TV, his mind wandering aimlessly. Suddenly, an emergency broadcast popping out of the television brought him back to focus. </p>
      <p class="lead">“Filthy creature!” He groaned and clenched his fists with bitter hatred as he silently spelled out every word on the wanted poster, “Colon cancer-44”! </p>
      <p class="lead">Born to kill, relentlessly, head-fake specialists, and in great number, colon cancer-44 had taken the lives of hundreds of thousands of people, including his beloved wife, innocent child and that once warm and loving family. It had been almost two years since the last appearance of colon cancer when Dr. Sun’s family was brutally murdered as a token of retaliation to his “inspector” identity, and yet now, its ugly face re-emerged.</p>
      <p class="lead">“I will catch you this time! I swear to god!” Instructed by an article “New Technologies in Detecting Colon Cancer” on newspapers, Dr. Sun knocked on the door of 221B, Baker Street, where lived a famous detective, Adeno Holmes…… </p>
      <p class="lead"> (See “<a style="color: #f0ad4e; font-weight: 700; font-size: 25px;" href="http://2019.igem.org/Team:SYSU-CHINA/Description">Inspirations</a>” for more details on the origins of our ideas!)</p>
    </div>
    <div class="col-md-5">
      <img src="https://2019.igem.org/wiki/images/7/77/T--SYSU-CHINA--index1.jpeg" style="width: 500px; height: 500px;" class="featurette-image img-responsive center-block" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Design and Safety <span class="text-muted"> Detective Work</span></h2>
      <p class="lead">Holmes put the clues in the computer and got the sensor. “Come on, Dr. Sun. It’s time for hunting.” Holmes said confidently.</p>
      <p class="lead">The sensor suddenly alarmed when they were walking down the street. “That’s weird. It’s way too obviously to stay in daylight for a criminal,” said Dr. Sun. “Well, you never know.” </p>
      <p class="lead">“Freeze! Finally got you, Mister colon cancer.” “Sorry, who? I'm Mr. Sperm. I think you got the wrong guy.” “Oh, sorry.”</p>
      <p class="lead">It seemed that something was wrong with Holmes’ sensor. Maybe the specificity was not good enough.</p>
      <p class="lead">A man, with his face covered and in a suit hat, just passed by. “Beep…” the sensor alarmed again. ”It’s him!” shouted Dr. Sun.</p>
      <p class="lead">“Catch him!” But suddenly Holmes felt dizzy and weak. "Damn it, tobacco pipe Dox is out of tobacco… <a style="color: #f0ad4e; font-weight: 700; font-size: 25px;" href="http://2019.igem.org/Team:SYSU-CHINA/Design">I need more DOX……(Click here to learn more about the Design of AdmiT)</a>”</p>
      <p class="lead">When Holmes finally find his DOX, the suspect was gone. But Dr. Sun seemed to find a new character of him…… ”We won’t get a wrong person if we have <a style="color: #f0ad4e; font-weight: 700; font-size: 25px;" href="http://2019.igem.org/Team:SYSU-CHINA/Safety">this addition clue(Want to explore more about it? Click here!)</a>”</p>

    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="https://2019.igem.org/wiki/images/7/70/T--SYSU-CHINA--index3.png" style="width: 600px; height: 370px;" class="featurette-image img-responsive center-block" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Statistic Strategy <span class="text-muted"> Search and Modeling</span></h2>
      <p class="lead">"This time, we must make a thorough plan." "Holmes said rather angrily. "I will never stumble on Dox" </p>
      <p class="lead">"First of all, we need to increase the ability of miRNA sensor " Dr. Sun seemed a little bit frustrated, "but how do you do that?" "Don't panic," Holmes said as he carefully added tobacco to his Dox pipe. "I know someone who can help us. In fact, With his help, I have already got the latest miRNA sensor." (About who provided help for AdmiT, please see the <a style="color: #f0ad4e; font-weight: 700; font-size: 25px;" href="http://2019.igem.org/Team:SYSU-CHINA/Human_Practices">Human Practices</a> for more details)</p>
      <p class="lead">" Awesome! Let's roll! This time we will be sure to catch him easily, and get complete victory!" It seemed that Dr. Sun couldn’t wait a minute. But just when he was ready to go out, he was pressed down suddenly by Holmes." </p>
      <p class="lead">We need to plan carefully before departure" Holmes said, pointing to a computer, "according to a recent collection of information, we'd better analyze the next step of colon cancer 44." (About how Holmes make the plan, please refer to the <a style="color: #f0ad4e; font-weight: 700; font-size: 25px;" href="http://2019.igem.org/Team:SYSU-CHINA/Model">Model</a> section) </p>
    </div>
    <div class="col-md-5">
      <img src="https://2019.igem.org/wiki/images/0/0b/T--SYSU-CHINA--index4.png" style="width: 600px; height: 350px;" class="featurette-image img-responsive center-block" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7  col-md-push-5">
      <h2 class="featurette-heading">Parts<span class="text-muted"> “Maybe we need more than that.”</span></h2>
      <p class="lead">“Now we got the thing we need, the perfect sensor,” Said Dr. Sun delightedly. “Actually, I think we need more than that.” Holmes said. ”See that?” He took out a gun with <a style="color: #f0ad4e; font-weight: 700; font-size: 25px;" href="http://2019.igem.org/Team:SYSU-CHINA/Parts">a symbol “E1” on it (E1 is one of our biobricks in this project and you would found more in this link)</a>. ”Mister colon cancer, the suspect, is too crafty. If we let him escape this time, he will cause more chaos. Maybe it’s time to finish it.” ”You mean……” ”Yes.”</p>

    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="https://2019.igem.org/wiki/images/9/9c/T--SYSU-CHINA--index5.png" style="width: 600px; height: 350px;" class="featurette-image img-responsive center-block" alt="Generic placeholder image">
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Results: <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Dr. Sun and Holmes found Mister colon cancer, but unfortunately, they fell into his trap. ”Now, what can you do? Poor Holmes. I have your gun and this so-called sensor, this noisy thing. It seems like it’s your last day in the world.” Mister colon cancer pulled the trigger, but nothing happened. “Well, the gun is <a style="color: #f0ad4e; font-weight: 700; font-size: 25px;" href="http://2019.igem.org/Team:SYSU-CHINA/Results">only to kill the target of this noisy sensor</a>, farewell, Mister colon cancer.” The gun suddenly turned around and pointed to the Cancer. As gunfire rang, the battle ended.</p>
      <p class="lead">Dr, Sun signed and said, “It’s eventually over.” “No, we need to do more than that.” said Holmes.</p>
    </div>
    <div class="col-md-5">
      <img src="https://2019.igem.org/wiki/images/c/c2/T--SYSU-CHINA--index8.png" style="width: 600px; height: 350px;" class="featurette-image img-responsive center-block" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">The End? <span class="text-muted">or a New Start.</span></h2>
      <p class="lead">The target colon cancer cell was lysed and may be our story came to an end. Dr.Sun and Holmes walk on the streets that are full of sunsets. In such a relaxed and comfortable situation, two people's mood is not easy. “We had so many faults this time, which made our action that difficult.” There was no let-up in Holmes’ serious voice, “I must improve myself.” “Maybe you can start with your pipe” suggest by Dr.Sun. “Of course, and meanwhile I could recognize more types of cancer by miR sensor now.” “Yes, our fight is far from over”. As the sun went down, they drifted away, disappearing at the end of the street</p>
      <p class="lead">(Interested in their future adventures? You may find that in <a style="color: #f0ad4e; font-weight: 700; font-size: 25px;" href="http://2019.igem.org/Team:SYSU-CHINA/Improve">Improve</a> section.)</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="https://2019.igem.org/wiki/images/3/3f/T--SYSU-CHINA--index10.png" style="width: 600px; height: 350px;" class="featurette-image img-responsive center-block" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div><!-- /.container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/jquery.js&action=raw&ctype=text/javascript"></script>\


<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/bootstrap.js&action=raw&ctype=text/javascript"></script>

</body>
</html>

{{Template:SYSU-CHINA/footer}}
