{{SYSU-CHINA/bootstrap.css}}
{{SYSU-CHINA/carousel.css}}
{{SYSU-CHINA/navbartop}}
{{SYSU-CHINA/backtotopbutton}}
<html>
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel" >


  <div class="carousel-inner" role="listbox">

    <div id="hpback" class="item active">
      <div class="container">

        <div class="bg"></div>

        <div class="carousel-caption" style="
        margin-bottom: 10%;">
          <h1 class="hugetitle">Collaborations</h1>
        </div>

        <!-- up to next Button-->
        <div class="scroll-down-wrapper">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </div>

      </div>
    </div>


  </div><!-- /.carousel -->
</div>


<p class="hptitle" style="margin-top: 5%;">Collaborations</p>

<!-- Begin Body -->
<div class="mycontainer" id=mycontentcon" style="margin-top: 0 !important; margin-right: 5%;">
  <div class="row">

    <div class="col-md-9 tab-content" id="mycontentcolla" style="
  border-left: 0px;
  border-left:0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;">


      <div id="accordion">


        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed hpstyle"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                      style="
                font-size: 25px;
                border-top: 5px solid #FFB700;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;">
                Collaboration on experiment with CSU-CHINA
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p>Since both projects are related to miRNAs, we have worked closely with Central South University on miRNA detection. </p>
              <p>Based on our previous experience, we provided the design of the miRNA binding site for Central South University and assisted them in constructing the part BBa_K2908333 and BBa_K2908444. </p>
              <p>On the one hand, we shared the miRNA detection plasmids, then applied and improved the new miRNA detection methods combining experiment and modeling. <a href="http://parts.igem.org/Part:BBa_K3179003">(See Part:BBa_K3179003)</a> On the other hand, we characterized each other's miRNAs and detected their real-time concentrations in HEK293.   <a href="https://2019.igem.org/Team:CSU_CHINA/Collaborations">(Click here to enter CSU-China Collaboration)</a></p>
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/f/f8/T--SYSU-CHINA--CO1.png" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed hpstyle"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                      style="font-size: 25px;">
                Collaboration on education with SZU and SFLS
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <img src="https://2019.igem.org/wiki/images/5/55/T--SYSU-CHINA--CO2.png" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <p>After we compose the conception of our idea, since both our and SZU’s projections are related to RNAi <a href="https://2019.igem.org/Team:SZU-China/Collaborations">(Click here to enter SZU-China Collaboration)</a>, we collaborated with SZU to give an educational lecture to a local senior high school, SFLS, who possesses its own iGEM team <a href="http://2019.igem.org/Team:Shenzhen_SFLS/Collaborations">(Click here to enter Shenzhen_SFLS Collaboration)</a>. The purpose of the educational lecture is to introduce the mechanism and application of RNAi for a further horizon and to encourage students to attend synthetic biological competition to ulteriorly extend the relevant knowledge. </p>
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/f/f6/T--SYSU-CHINA--CO3.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/9/95/T--SYSU-CHINA--CO4.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <p>We utilized elements consists of lecture, salon seminar, cartoon brochure and postcard to introduce knowledge about RNAi and working life of iGEMers. given their age bracket, we edited a cartoon brochure, drawn a monochrome postcard and set a series of cartoon and vogue-relevant content to explain a difficult conception for a better take in and raising their interest. During the salon section, which successfully get everyone involved, we answered all of the questions then listened to their perspective. We retrieved a good learning feedback and received a lot of intentions to join iGEM. </p>
              <p>In addition, we built an online group chat to investigate SFLS’s students’ level of knowledge by questionnaire separately before and after the educational lecture, in order to design an appropriate catalogue. <a href="https://2019.igem.org/wiki/images/a/a3/T--SYSU-CHINA--CODOC1.docx">(Click here to scan details of questionnaires)</a>. </p>
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/2/2c/T--SYSU-CHINA--HPS10.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/9/99/T--SYSU-CHINA--HPS11.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <p>Questionnaire before lecture is specifically co-designed to investigate students’ scope of knowledge about RNAi, cancer therapy, oncolytic virus, Mikania micrantha and biological adhesion. We totally retrieved about 380 respondents of questionnaire before lecture from senior one and senior two. Approximately 95% of respondents had no idea about synthetic biology, iGEM and RNAi. It seems that almost every senior high school student know about tRNA, rRNA and mRNA but they hardly be familiar with any small RNA. Most of respondents know surgical resection, radiotherapy and chemotherapy. Conceivably, little know about oncolytic virus, which match our expectation.</p>
              <p>Questionnaire after lecture is specifically co-designed for inspection of effectiveness of our educational lecture. The questionnaire involves some questions directly relate to lecture content and what impresses students most. Almost all the respondents answered well and thought that this activity enlarges their mind scope. Additionally, our elaboration and pictures of iGEMers’ working life make them understand teamwork and biological expertise reserve are the most important two elements of biological competition.</p>
              <p>We introspected our whole arrangement and concluded some tips for Chinese education activities. The teaching arrangement for Chinese senior high school increases difficulty for arranging another class for lecture. Activities intentions should be exchanged by each of side ahead of schedule. For a higher flexibility, the school exhibition season and school open day could be given priority.</p>

            </div>
          </div>
        </div>



        <div class="card">
          <div class="card-header" id="headingThree3">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed hpstyle"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                      style="font-size: 25px;">
                6th CCiC in SIAT
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p>During the summer vacation, our team members, Chen Jionglin, Gao Shangfang, Wu Zhien and Huang Junyu went to Shenzhen Institutes of Advanced Technoloy，Chinese Academy of Science（SIAT）to participate in 6th CCiC(Conference of China iGEMer Community).</p>
              <p>Chen Jionglin, one of our team leaders, took the position as a ‘judge’ in CCiC. He gave comments and advices to other teams.</p>
              <p>We gave a presentation and showed our poster during CCiC, then we received a feed back saying that more focus should be paid on the safety of Adv system and our modeling is very well. Really thank you, CCiC and SIAT!</p>
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/8/86/T--SYSU-CHINA--CO5.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/c/cb/T--SYSU-CHINA--CO6.png" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">





            </div>
          </div>
        </div>



        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed hpstyle"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                      style="font-size: 25px;">
                2019 iGEM Southern China Regional Meeting
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <p>In May, our team members, Chen Jionglin, Wu Zhien and Huang Junyu, went to Shenzhen for the 3<sup>rd</sup> Southern China Regional Meeting. At that time, most of the teams haven’t made many progresses in experiment. Twelve teams from southern China, not far from each other, decided to have a meeting to exchange ideas, experience and funny things.</p>
              <p>Friends of Shenzhen University gave us beautiful bookmarks and trophies with our school name as souvenirs. Ambassador Dorothy also gave us a lot of help and guidance on the questionnaire design.</p>
              <p>Really thank you, Team SZU-China! </p>
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/8/8a/T--SYSU-CHINA--CO7.png" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/e/ed/T--SYSU-CHINA--CO8.png" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">


            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed hpstyle"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="false"
                      aria-controls="collapseFive"
                      style="font-size: 25px;">
                “Clone It” with GenScript
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <p>On this year’s CCiC, GenScript and the CCiC committee provided us with the opportunity to “clone it” project, which aims to promote the standardization process of molecular cloning. We assembled our components using the Gibson assembly kits and protocols they provided, and provided them with experimental records and experimental results.</p>
              <p>Dozens of teams from China participated in the project and made outstanding contributions to the standardized molecular cloning process of the Chinese team. Here, we would like to sincerely thank GenScript and the CCiC committee for giving us this valuable opportunity.</p>
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/f/f8/T--SYSU-CHINA--CCiC.jpg" style="width:30%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <img src=" https://2019.igem.org/wiki/images/9/9f/T--SYSU-CHINA--genescriptlogo.jpg
" style="width:30%; position: relative; margin-left: 25%; margin-right: 25%;">


            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed hpstyle"
                      data-toggle="collapse"
                      data-target="#collapseSix"
                      aria-expanded="false"
                      aria-controls="collapseSix"
                      style="font-size: 25px;">
                Friends from all over the world
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <img src="https://2019.igem.org/wiki/images/0/08/T--SYSU-CHINA--CO9.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <p>During this year's competition, we met with the wonderful encounters of different teams across the country. Every year iGEM competition is a new journey with old friends and new friends.</p>
              <p>SZU-CHINA is our old friend. This year we have not only cooperated closely on Human Practice, but also actively shared experiences and gatherings in daily life. Teacher Chen Weijun from Shenzhen University gave us a lot of care. The photo of CCiC above was provided by him. Our collaboration with this year's partner CSU-CHINA was also introduced by him.</p>
              <p>We reunited with WHU-CHINA on CCiC, while we had bulit a deep friendship when they visted to SYSU last year. In Shenzhen, we went to the barbecue together, exchanged the experience of the team, shared the interesting things in the experiment, and enjoyed the regional cuisine.</p>
              <p>&nbsp;</p>
              <img src="https://2019.igem.org/wiki/images/d/dd/T--SYSU-CHINA--collaboration.jpg" style="width:30%; position: relative; margin-left: 25%; margin-right: 25%;">
              <p>&nbsp;</p>
              <p>This year, USTC-Software visited Sun Yat-Sen University and shared their project design with us. We invited Prof. Luo Guanzheng, who is studying biological information, to provide guidance for them.</p>
              <p>Coincidentally, our member Wu Zhien met members from SCU-China and Uppsala when attending the summer program at Uppsala University. In the following period, SCU-CHINA members helped us to issue the questionnaire.</p>
              <p>&nbsp;</p>




            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed hpstyle"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
                style="
                font-size: 5px;
                border-bottom: 5px solid #FFB700;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;">
                .
              </button>
            </h5>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>








<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/jquery.js&action=raw&ctype=text/javascript"></script>\


<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/bootstrap.js&action=raw&ctype=text/javascript"></script>

</body>
</html>

{{Template:SYSU-CHINA/footer}}
