{{SYSU-CHINA/bootstrap.css}}
{{SYSU-CHINA/carousel.css}}
{{SYSU-CHINA/navbartop}}
{{SYSU-CHINA/backtotopbutton}}
<html>
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel" >


  <div class="carousel-inner" role="listbox">

    <div id="tmback" class="item active img-responsive">
      <div class="container">

        <div class="bg"></div>

        <div class="carousel-caption" style="
        margin-bottom: 10%;">
          <h1 class="hugetitle">Awards</h1>
        </div>

        <!-- up to next Button-->
        <div class="scroll-down-wrapper">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </div>

      </div>
    </div>


  </div><!-- /.carousel -->
</div>





<!-- Begin Body -->
<div class="mycontainer" id="mycontentcon">
  <div class="row">
    <!--SideBar-->
    <div class="col-md-2">
      <div class="list-group navbar" id="sidebar">
        <ul class="nav mynav" data-spy="affix" data-offset-top="0px">
          <li><a href="#t" class="list-group-item" style="
          height: 40px;
          text-align: center;
          vertical-align: center;
          border-top: 7px solid #f0ad4e !important;
          border-left: 5px solid #f0ad4e !important;
          border-right: 3px solid #f0ad4e !important;
          padding-top: 0px;
          padding-bottom: 0px;
          padding-left: 0 !important;
          padding-right: 0 !important;">
            <div class="progress-container">
              <div class="progress-bar" id="myBar" >
                <span class="progress-value">Awards</span>
              </div>
            </div>
          </a>
          </li>
          <li><a href="#c1" class="list-group-item" style="border-top: 3px solid #f0ad4e !important; ">
            Bronze Medal
          </a>
          </li>
          <li> <a href="#c2" class="list-group-item" contenteditable="false">
            Silver Medal
          </a>
          </li>
          <li> <a href="#c3" class="list-group-item" contenteditable="false">
            Gold Medal
          </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9" id="mycontent">
      <h1 id="t" class="">Awards</h1>
      <hr class="col-md-12">

      <div>
        <h2 id="c1"><b>As for the Bronze Medal: </b></h2>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Registration and Giant Jamboree Attendance </b></h3>
        <p>Register our team, have a great iGEM summer, and attend the exciting Giant Jamboree. </p>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Competition Deliverables </b></h3>
        <p>Create and share a description of the team's project using the iGEM Wiki. </p>
        <p>Prepared to present a vivid Poster at the iGEM Jamboree. </p>
        <p>Plan to give an enthusiastic Presentation at the iGEM Jamboree. </p>
        <p>Successfully complete and submit our iGEM 2019 Judging form. </p>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Attributions </b></h3>
        <p>Finish the Attribution page to show our appreciation to those who help our project move towards completion. </p>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Project Inspiration and Description </b></h3>
        <p>Complete the Project Inspiration and Description of Competition Deliverable to present our project clearly. </p>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Characterization / Contribution </b></h3>
        <p>Add quantitative experimental characterization data to an existing Part from the Registry of Standard Biological Parts. </p>
      </div>

      <div>
        <h2 id="c2"><b>As for the Silver Medal: </b></h2>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Validated Part / Validated Contribution </b></h3>
        <p>Document the experimental characterization on that Part's Main Page on the Registry of a new BioBrick Part of our design, which works as expected. </p>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Collaboration </b></h3>
        <p>Clearly document our collaboration with SZU-China on our Wiki. </p>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Human Practices </b></h3>
        <p>Document our Human Practices on our Wiki pages to show the importance of this indispensable facet. </p>
      </div>

      <div>
        <h2 id="c3"><b>As for the Gold Medal: </b> </h2>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Integrated Human Practices </b></h3>
        <p>On our Wiki, how the Human Practices integrate with our project is clearly demonstrated, which shows those we have done to society have supported our project, and our experiment data have indicated our next steps to do with Human Practices. </p>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Model Your Project </b></h3>
        <p>Document our Model clearly on our team's Wiki, which has impacted our project design in a meaningful way. The assumptions, relevant data, model results, and a clear explanation of our model is included. </p>
        <h3><b><i class="glyphicon glyphicon-ok"></i>  Demonstration of Your Work </b></h3>
        <p>Out of our lab experiments, we engineered system works of our project and the detailed demonstration is on our Wiki. As a Therapeutics Track, we envisioned how the project would be administered and the situation when it would be used as a realistic therapy. </p>
      </div>


      <hr class="col-md-13">
    </div>
  </div>
</div>
</div>









<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/jquery.js&action=raw&ctype=text/javascript"></script>\


<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/bootstrap.js&action=raw&ctype=text/javascript"></script>

</body>
</html>

{{Template:SYSU-CHINA/footer}}
