{{SYSU-CHINA/bootstrap.css}}
{{SYSU-CHINA/carousel.css}}
{{SYSU-CHINA/navbartop}}
{{SYSU-CHINA/backtotopbutton}}
<html>
<body>

<div id="myCarousel" class="carousel slide" data-ride="carousel" >


  <div class="carousel-inner" role="listbox">

    <div id="pjback" class="item active">
      <div class="container">

        <div class="bg"></div>

        <div class="carousel-caption" style="
        margin-bottom: 10%;">
          <h1 class="hugetitle">Description</h1>
        </div>

        <!-- up to next Button-->
        <div class="scroll-down-wrapper">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </div>

      </div>
    </div>


  </div><!-- /.carousel -->
</div>



<!-- Begin Body -->
<div class="mycontainer" id="mycontentcon">
  <div class="row">
    <!--SideBar-->
    <div class="col-md-2">
      <div class="list-group navbar" id="sidebar">
        <ul class="nav mynav" data-spy="affix" data-offset-top="0px">
          <li><a href="#t" class="list-group-item" style="
          height: 40px;
          text-align: center;
          vertical-align: center;
          border-top: 7px solid #f0ad4e !important;
          border-left: 5px solid #f0ad4e !important;
          border-right: 3px solid #f0ad4e !important;
          padding-top: 0px;
          padding-bottom: 0px;
          padding-left: 0 !important;
          padding-right: 0 !important;">
            <div class="progress-container">
              <div class="progress-bar" id="myBar" >
                <span class="progress-value">Description</span>
              </div>
            </div>
          </a>
          </li>
          <li><a href="#c1" class="list-group-item" style="border-top: 3px solid #f0ad4e !important; ">
            Find our Direction
          </a>
          </li>
          <li> <a href="#c2" class="list-group-item" contenteditable="false">
            Find the Precise Target
          </a>
          </li>
          <li> <a href="#c3" class="list-group-item" contenteditable="false">
            Find out Deliverer
          </a>
          </li>
          <li> <a href="#c4" class="list-group-item" contenteditable="false">
            Potential in Synthetic Biology
          </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9" id="mycontent">
      <div>
        <h1 id="t" class="">Description</h1>
        <hr class="col-md-12">

        <p class="pstyle">This year we proposed a new cancer treatment system, Adenovirus system with miRNA Targeting(AdmiT). Why did we choose cancer therapy? What is AdmiT system? Why did we build such a system? What helped us in it? What changes have the project gone through?</p>
        <p class="pstyle">Below we will detail how this project was born, how it is improved, and its biological significance.</p>
        <h2 id="c1" class="">Determine our direction and research field (Find our direction)</h2>

        <h3 class="">What has everyone been focusing on?</h3>
        <p class="pstyle">Heated research fields often correlate with great demands from society. Back in late 2018, when we were first pooling wisdom for our 2019 iGEM project, we wrote a “crawlers” to catch up the frequently occurring key words in recent years’ iGEM competition, in designation of finding what unraveling puzzles did scientists put much effort on, and what urgent issues did the iGEM community mostly care about. The keyword  <b>“cancer”</b>, unbelievable but reasonable, topped the list. In light of this, we decided to find a new way, using biological engineering, for cancer therapy. </p>
        <img src="https://2019.igem.org/wiki/images/8/81/T--SYSU-CHINA--wordcloud.png" style="width:80%; position: relative; margin-left: 10%; margin-right: 10%;">
        <p><strong>Figure 1</strong>The word cloud diagram generated according to the iGEM teams project abstract in recent years</p>

        <h3 class="">What does a new cancer biotherapy need?</h3>
        <p class="pstyle">Cancer therapy is developing rapidly, and many new biological therapy methods, such as CAR-T, are often reported in recent years. So, what characteristics do new therapies need compared to traditional treatments such as chemoradiotherapy and surgery? </p>
        <p class="pstyle">To answer this question, we turned to Dr. Huang Rongkang, an experienced clinician from the Sixth affiliated hospital of Sun Yat-Sen University, who has been dedicated himself in treating colorectal cancer and research development frontline for about a decade. </p>
        <p class="pstyle"> <b><big>“Specificity is the major defect in current cancer therapy!” </big></b>He said.</p>
        <p class="pstyle">Dr. Huang told us that chemotherapy was once referred as to have <b>“333 principles”</b>, which means it is effective to one-third of patients, neutral (neither improves nor worsens) to another one-third of patients, and ineffective even aggravating the situations due to toxic side effects to the remaining one-third. Dr. Huang also anticipated a more precise medicine and pinpoint drug delivery in cancer therapy, for less toxic side effects and better treatments when dealing with cancer. </p>
        <p class="pstyle">To sum up, an idol new cancer treatment method should meet the needs of precision therapy and local drug delivery.</p>
        <img src="https://2019.igem.org/wiki/images/2/2b/T--SYSU-CHINA--direction.jpg" style="width:80%; position: relative; margin-left: 10%; margin-left: 10%;">
        <p><strong>Figure 2</strong>Difficulties and needs of existing therapies</p>


      </div>

      <div>
        <h2 id="c2" class="">Find the precise target</h2>
        <p class="pstyle">To achieve specificity, it is necessary to have a high specificity target and the corresponding identification system. In the past few years, a large number of cancer molecular targets were applied in the research of new drugs<sup>[1-3]</sup>. However, how can we improve these targets with synthetic biology? </p>

        <h3 class=""> Targeting miRNAs ——inspiration from a lecture </h3>
        <p class="pstyle">As we struggle with different cancer targets, a lecture given by Professor Kuang from Hong Kong University of Science and Technology enlightened us. In this November lecture, Professor Kuang introduced her work to screen specific cell type from iPSCs according to different endogenous miRNA expression, which led us into asking such a question: </p>
        <p class="pstyle"><b>Could the endogenous miRNA of cancer cells also be used as a target?</b></p>
        <p class="pstyle">With this question, we consulted Professor Zheng Linlin who studied oncomiRNAs in our college and learnt that miRNA profile has been widely served as a marker for cancer detection and prognosis<sup>[4]</sup>. In other words, it certainly has the potentials to target tumor cells as long as we could find the tumor-specific miRNA profiles<sup>[5]</sup>.</p>
        <p class="pstyle">So now we asked: <b>how to find specific miRNA expression profiles and how to construct corresponding systems that target miRNAs.</b></p>

        <h3 class="">Filter colon tumor specific miRNA expression by modeling </h3>
        <p class="pstyle">The work to find out specific miRNA expression profile starts with 2 questions:</p>
        <p class="pstyle tab-ls"><b>• Which tumor should we focus on?</b></p>
        <p class="pstyle tab-ls"><b>• What principles do we need to achieve screening? </b></p>
        <p class="pstyle">When we first interviewed Dr. Huang, he has motivated us to apply our newly developed therapy to colon cancer. Because there is still a large gap in the precise treatment of colon cancer and new adjuvant therapy is urgently needed. So we use colon cancer as the first application case of our system.</p>
        <img src="https://2019.igem.org/wiki/images/8/8e/T--SYSU-CHINA--therapy-comparison.png" style="width:80%; position: relative; margin-left: 10%; margin-left: 10%;">
        <p><strong>Table 1.</strong>Comparison between different therapies</p>

        <p class="pstyle">Therefore we began to analyze the miRNA expression profiles of colon cancer hoping to met this require. An <strong>R</strong> language program was developed for miRNA filtering and we put forward some principles based on security and specific considerations. (For more details please refers to “<b>Design</b>”) Based on the above work, we successfully obtained miRNA expression profiles specifically expressed in colon cancer.</p>

        <h3 class="">Review our target: Reduce potential off-target risk</h3>
        <p class="pstyle">We obtained a specific miRNA expression in colon cancer by computer program analysis and showed our staged results to our PI Professor Lu Yongjun. He asked if we had checked the expression of these miRNAs between different tissues and asked us to further determine the credibility of the data. We were then surprised to find that the target miRNA profile determined initially had the same expression in sperm. More accurately, the high expression of miR-592 and the low expression of miR-885-5P found in colon cancer also occur in sperm, which means that our system may have potential off-target risks if we only use those two miRNAs above.</p>
        <p class="pstyle">To reduce off-target effects, we need a miRNA that targets specific tissues. At this point we found miR663, a miRNA missing in colon-derived cells, which is highly expressed in sperm. After adding new miRNAs, we again examined the specificity of the new combination and found no similar miRNA expression patterns in all normal tissues.</p>
        <img src="https://2019.igem.org/wiki/images/0/09/T--SYSU-CHINA--miRNA_in_tissue.png" style="width:80%; position: relative; margin-left: 10%; margin-left: 10%;">
        <p><strong>Figure 3.</strong>Expression of has-miR-663b in different Human tissue<sup>[6]</sup></p>


        <h3 class="">miRNA-sensor: A synthetic RNA system to correspond miRNA target</h3>
        <p class="pstyle">With the target, we need a set of targeting systems to identify miRNA expression. The work on the mRNA circuit by Professor Ron Weiss in MIT has helped us a lot. Based on the nature of mRNA degradation caused by miRNA binding to mRNA<sup>[7]</sup>, they proposed an mRNA circuit consisting of two basic logic gate elements that respond to miRNA concentrations.</p>
        <p class="pstyle">Based on this work, we constructed the basic elements that respond to the high and low expression of miRNAs and used them to form logic gates to identify specific miRNA expression in colon cancer<sup>[8]</sup>. (For more details please refers to “<b>Design</b>”)</p>
        <img src="https://2019.igem.org/wiki/images/1/12/T--SYSU-CHINA--logic_gate.png" style="width:80%; position: relative; margin-left: 10%; margin-left: 10%;">
        <p><strong>Figure 4.</strong> Logic gate miRNA circuit </p>

        <h3 class="">Surprise: Help from project and advisor in SYSU-CHINA 2013</h3>
        <p class="pstyle">At this time, our PI Prof. Lu told us that our team SYSU-CHINA had done a similar work with iPSC in 2013 and their advisor Dr. Jiang Shuai is still working in our university. After learning about our project, Dr. Jiang pointed out the potential problem of this system at once —— <b>Sponge Effect</b>. The sponge effect means that the miRNA will suddenly increase or decrease under certain conditions. Since the mechanism is still unclear, almost all miRNA-related systems will be affected by it. </p>
        <p class="pstyle">Based on the experience of SYSU-CHINA 2013<sup>[9]</sup>, Dr. Jiang suggested that we could improve the sequence of mRNA and miRNA binding to reduce the effect of sponge effect. Based on his suggestions and other works in recent years, we made improvements to the miRNA binding sequence and shared this design concept with Central South University later.</p>
        <p class="pstyle">Without his reminder, we might not have realized this problem yet. The previous work by SYSU-CHINA in 2013 indeed gives us a big surprise! </p>
      </div>

      <div>
        <h2 id="c3" class="">Deliver our system into cancer cell (Find out Deliverer)</h2>
        <p class="pstyle">Since our system is constructed to recognize endogenous specific miRNAs, we need a drug delivery vector to bring the system into cancer cells. Such deliverer can be divided into two levels, one is <b>what to use to carry the mRNA circuit at the cellular level</b>, and the other is <b>how to achieve drug delivery in practical application.</b></p>
        <p class="pstyle">It was about December that, Wen Rou, one of our team members, happened to read an article <sup>[10]</sup> which brought the oncolytic virus in front of us. We were amazed to find that this system can not only act as a carrier, but also itself as an effector for killing tumors. <strong>This engineered virus can only be propagated in cancer cells and released after cell lysis to infect surrounding cancer cells. It could be self-replicon guard to eliminate evil tumor cells in our bodies!</strong> </p>
        <p class="pstyle">As the oncolytic virus is more of a conceptual idea, we need to identify a real virus as a modified chassis. After comparing different viruses (see “<b>Design</b>” for details), we chose adenovirus as the basic biological chassis.</p>
        <img src="https://2019.igem.org/wiki/images/8/83/T--SYSU-CHINA--oncocomic.jpg" style="width:80%; position: relative; margin-left: 10%; margin-left: 10%;">
        <p><strong>Figure 5.</strong>Comic example of selective killing of oncolytic virus</p>


        <h3 class="">Safety concerns: Is it suitable to use a virus?</h3>
        <p class="pstyle">Here comes another problem that the adenovirus is a BSL II creature and whether the use of it complies with regulations of iGEM competition? We emailed the organizing committee on this issue and received a warm response from Piers. Here, I would like to sincerely thank Piers for his kind assistance, with which we started to re-consider the security of our project.</p>
        <p class="pstyle">We looked back at the iGEM projects over the past few years and found that there are not many examples on virus application. Obviously, this is a field full of doubts about security. Whether adenovirus should continue to serve as a biological chassis, we refer to three aspects for opinions: public concerns, doctors' opinions and relevant legal provisions.</p>
        <p class="pstyle">A lot of work, such as interviews, questionnaires were conducted and released when trying to settle this urgent problem. Fortunately, we found that it is possible to promote our project into further clinical application if our design was truly proved effective. (See “<b>Human Practices</b>” for more details)</p>

        <h3 class="">Mode of administration: How to apply it to future medical practice</h3>
        <p class="pstyle">Considering the practical application of our system in the future, we need to design a viable mode of administration. Viral therapy is generally administered intravenously, and the FDA has strict regulations on the amount of virus injected.<sup>[11]</sup> Since our first application case was colon cancer, which is exposed to the colon surface, we also considered two non-invasive modes of administration: <b>enema and rectal suppositories</b>. </p>
        <p class="pstyle">At first, we thought that enema could be used as a viable alternative to injection because it more accurately locates the colon. Since blood injection is not required, the risk of infection from injection also decreases, while the public's concerns about viral injections will be reduced as well.</p>
        <p class="pstyle">However, Dr. Huang vetoed our mode of administration.It turns out that although the enema could be administered locally, it stays in the intestine for too short a time, which results that the virus may not have enough chance to infect cancer cells. In addition, Dr. Huang introduced several new modes of administration and suggested that we should do a deep investigation about it. We then compared five potential modes of administration and selected a cutting-edge method recommended by Dr. Huang, which is called <b>hydrogel-based drug delivery systems</b>.<sup>[12-13]</sup> (more details in “<b>Improve</b>” and “<b>Human Practices</b>”)</p>
        <img src="https://2019.igem.org/wiki/images/1/1f/T--SYSU-CHINA--FutureW.jpg" style="width:80%; position: relative; margin-left: 10%; margin-left: 10%;">
        <p><strong>Table 2.</strong> Different Administration mode</p>


      </div>

      <div>
        <h2 id="c4" class="">Potential in Synthetic Biology</h2>
        <p class="pstyle">In the end, we will introduce the synthetic biology value of the above construction system, which is reflected in both medical applications and basic research.</p>

        <h3 class="">Potential for multiple tumors by rapid adaptation </h3>
        <p class="pstyle">Although we are temporarily focusing on colon cancer, this system theoretically has the potential to respond to all tumor cells. Since the target is a miRNA that is present in all cells, as long as any tumor-specific miRNA can be found, it can be suitable to our system with only modifying a few miRNA target sequences. Combined with the mode of administration we envision, this system can be well applied to the treatment of various solid tumors in the future.</p>
        <p class="pstyle">We also understand that oncolytic viruses can be combined with a variety of oncology and can enhance the effectiveness of other therapies. A new generation of oncolytic viruses and immune factors work together to make them more lethal. The oncolytic virus system we built is fully compatible with such improvements. As we use engineering ideas to build this system, it is very convenient and feasible to modify the different parts of the whole system.</p>

        <h3 class="">Prospect in personalized treatment</h3>
        <p class="pstyle">Most importantly, since the tumors showed large differences in different people, many molecular targets results vary. Our oncolytic virus system offers a potential for future personalized cancer treatment.</p>
        <p class="pstyle">The doctor can first collect the patient's tumor sample to detect the expression of miRNA, and then use our computer analysis model to screen the miRNA specifically expressed in the individual tumor to construct a personalized oncolytic virus. There is no doubt that this personalized oncolytic virus is safer and more efficient.</p>

        <h3 class="">Virus system responding to different levels of signals</h3>
        <p class="pstyle">From another perspective, we have built a modular virus system that responds to different levels of regulation this year. First of all, our miR sensor, switch and virus vectors are highly modular which could achieve rapid update through synthetic biology method. </p>
        <p class="pstyle">On the other hand, our system provides the possibility of simultaneous regulation at the transcriptional level and translation level. Gene expression can be regulated at the transcriptional level by the Tet-on system, and protein translation can be regulated at the mRNA level by miRNA sensor. This enriches the possibility of virus-mediated gene expression systems.</p>

      </div>


      <div>
        <h2 id="c1" class="">References</h2>
        <p class="pstyle"><small>[1] Kirwan A,Utratna M,O'dwyer ME,et al. Glycosyl⁃ ation-based serum biomarkers for cancer diagnostics and prognostics[J]. Biomed Res Int,2015,20 (14):4905-4931.</small></p>
        <p class="pstyle"><small>[2] Liloglou T,Bediaga NG,Brown BR,et al. Epigenetic biomarkers in lung cancer[J]. Cancer Lett, 2014,342(2):200-212. </small></p>
        <p class="pstyle"><small>[3] Mabert K,Cojoc M,Peitzsch C,et al. Cancer bio⁃marker discovery:current status and future perspec⁃ tives[J]. Int J Radiat Biol,2014,90(8):659- 677.</small></p>
        <p class="pstyle"><small>[4] Kioomars Saliminejad, Hamid Reza Khorram Khorshid, Shahrzad Soleymani Fard, Seyed Hamidollah Ghaffari. An overview of microRNAs: Biology, functions, therapeutics, and analysis methods. J Cell Physiol. 2018;1–15.</small></p>
        <p class="pstyle"><small>[5] Lu J, Getz G, Miska EA, Alvarez-Saavedra E, Lamb J, Peck D, Sweet-Cordero A, Ebert BL, Mak RH, Ferrando AA, Downing JR, Jacks T, Horvitz HR, Golub TR. MicroRNA expression profiles classify human cancers. Nature. 435, 834-838.</small></p>
        <p class="pstyle"><small>[6] Panwar et al (2017) miRmine: A Database of Human miRNA Expression Profiles. Bioinformatics, btx019. doi: 10.1093/bioinformatics/btx019 </small></p>
        <p class="pstyle"><small>[7] Zhen Xie, Liliana Wroblewska, Laura Prochazka, Ron Weiss, Yaakov Benenson. Multi-Input RNAi-Based Logic Circuit for Identification of Specific Cancer Cells. SCIENCE VOL 333 2 SEPTEMBER 2011.</small></p>
        <p class="pstyle"><small>[8] Kenji Miki, Kei Endo, ..., Hirohide Saito, Yoshinori Yoshida. Efficient Detection and Purification of Cell Populations Using Synthetic MicroRNA Switches. Cell Stem Cell 16, 699–711, June 4, 2015.</small></p>
        <p class="pstyle"><small>[9] https://2013.igem.org/Team:SYSU-CHINA</small></p>
        <p class="pstyle"><small>[10] Schmid, M., et al. (2018). "Adenoviral vector with shield and adapter increases tumor specificity and escapes liver and immune control." Nat Commun 9(1): 450.</small></p>
        <p class="pstyle"><small>[11] Alemany, R., Oncolytic Adenoviruses in Cancer Treatment. Biomedicines, 2014. 2(1): p. 36-49</small></p>
        <p class="pstyle"><small>[12] English, Max A., et al. "Programmable CRISPR-responsive smart materials." Science 365.6455 (2019): 780-785.</small></p>
        <p class="pstyle"><small>[13] Sepantafar, Mohammadmajid, et al. “Engineered Hydrogels in Cancer Therapy and Diagnosis.” Trends in Biotechnology 35.11(2017).</small></p>

      </div>

      <hr class="col-md-13">
    </div>
  </div>
</div>
</div>







<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/jquery.js&action=raw&ctype=text/javascript"></script>\


<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/bootstrap.js&action=raw&ctype=text/javascript"></script>

</body>
</html>

{{Template:SYSU-CHINA/footer}}
