{{SYSU-CHINA/bootstrap.css}}
{{SYSU-CHINA/carousel.css}}
{{SYSU-CHINA/navbartop}}
{{SYSU-CHINA/backtotopbutton}}
<html>
<body>
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" >


  <div class="carousel-inner" role="listbox">

    <div id="pjback" class="item active">
      <div class="container">

        <div class="bg"></div>

        <div class="carousel-caption" style="
        margin-bottom: 10%;">
          <h1 class="hugetitle">Attributions</h1>
        </div>

        <!-- up to next Button-->
        <div class="scroll-down-wrapper">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </div>

      </div>
    </div>


  </div><!-- /.carousel -->
</div>



<!-- Begin Body -->
<div class="mycontainer" id="mycontentcon">
  <div class="row">
    <!--SideBar-->
    <div class="col-md-2">

      <div class="list-group navbar" id="sidebar">
        <ul class="nav mynav" data-spy="affix" data-offset-top="0px">
          <li><a href="#t" class="list-group-item" style="
          height: 40px;
          text-align: center;
          vertical-align: center;
          border-top: 7px solid #f0ad4e !important;
          border-left: 5px solid #f0ad4e !important;
          border-right: 3px solid #f0ad4e !important;
          padding-top: 0px;
          padding-bottom: 0px;
          padding-left: 0 !important;
          padding-right: 0 !important;">
            <div class="progress-container">
              <div class="progress-bar" id="myBar" >
                <span class="progress-value">Attributions</span>
              </div>
            </div>
          </a>
          </li>
          <li><a href="#c1" class="list-group-item" style="border-top: 3px solid #f0ad4e !important; ">
            Contribution
          </a>
          </li>
          <li> <a href="#c2" class="list-group-item" contenteditable="false">
            Acknowlegement
          </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9" id="mycontent">
      <h1 id="t" class="">Attributions</h1>
      <hr class="col-md-12">

      <div>
        <h2 id="c1" class="">Contribution</h2>

        <h3 class="">Molecular experiments:</h3>
        <p> Design and construction of plasmids of Tet-on system: Zhou shuaixi, Huang Ao, Huang Junyu</p>
        <p> Design and construction of plasmids of L7Ae-Kturn system: Chen Jionglin, Wen Rou, WONG, Yuen Ying</p>
        <p> Design and construction of plasmids of miRNA sensors:Chen Jionglin, Xu Jiaxian, Huang Junyu</p>
        <p> Design and construction of plasmids of adenovirus response element: Wu Zhien, Gao Shangfang, Liu Lanjun</p>
        <p> Operation of AdEasy<sup>TM</sup> adenovirus system: Wu Zhien, Gao Shangfang, Zhou Shuaixi</p>
        <p> Helpers: Zhao Bingnan, Wang Jiaxin, He Yuansi</p>

        <h3 class="">Cell culturing: </h3>
        <p> Cell culturing and passaging of HEK293 and HeLa:  Gao Shangfang, Chen Jionglin, Huang Junyu</p>
        <p> Transfection, cytotoxicity and efficiency measurement:  Chen Jionglin, Gao Shangfang</p>
        <p> Packaging of adenovirus:  Gao Shangfang, Wu Zhien</p>

        <h3 class="">Mathematical work: </h3>
        <p> Modeling: Liang Jiaqi, Chang Yanqi, Chen Jionglin, Wang Chengwei</p>
        <p> Data analysis: Chang Yanqi, Chen Jionglin</p>

        <h3 class="">Human Practices: </h3>
        <p>Huang Junyu, Huang Ao, Wen Rou, Chang Yanqi, WONG, Yuen Ying, Chen Jionglin, Lu Yalin, Liu Lanjun, Wu Zhien, Xu Jiaxian</p>

        <h3 class="">Art design: </h3>
        <p>Liu Lanjun, Lu Yalin, Chen Jionglin, Wang Jiaxin, WONG, Yuen Ying </p>

        <h3 class="">Wiki design and web development: </h3>
        <p>Wang Chengwei</p>
      </div>

      <div>
        <h2 id="c2" class="">Acknowlegement</h2>
        <p>In the process of our project, SYSU-China has received help and support from many teachers, experts and academic seniors. We would like to extend our sincere respect and gratitude to them.</p>

        <h3 class="">Lab Support: </h3>
        <p>We appreciate molecular and cellular microbiology lab of Sun Yat-Sen University for the full range of laboratory sites, equipment and materials. Mr. Shen Dong, Mr. He Lei, Ms. Chen Dongni, Mr. Yuan Peibo, Mr. Ge Zhenhuang, Ms. He Shiyu, Mr. Wang Qinglin, Ms. Kuang Zhiqi and Ms. Long Qinsha of the laboratory gave us warm guidance and instruction. Their valuable experience inspired us a lot in design and execution of experiments. When we were in trouble, they kindly gave us useful advice to tide us over. Without their strong support, our experiment would hardly go on smoothly. Especially we want to show our gratitude to Mr. Yuan Peibo, who offered us pcDNA3.1 carrier and enlighted us on some molecular experiments, and Ms. Chen Dongni, who offered us HEK293 and HeLa cell lines and related protocols on cell experiment. </p>
        <p>Thanks to our co-lab's partner, CSU-China, for their assistance in completing miRNA quantitative measurement experiments.</p>

        <h3 class="">Human Practices: </h3>
        <p>We also received many helping hands when we carried on human practices work, which greatly filled our knowledge gap in related fields. We would like to thank Prof. TienMing Lee (School of Life Sciences, Sun Yat-Sen University) for his professional guidance on social investigation methods, which has greatly promoted the progress of our public engagement. Thanks to Dr. Huang Rongkang and Dr. Zhi Min (The Sixth Affiliated Hospital, Sun Yat-Sen University & Guangdong Gastrointestinal Hospital), accepted our interview twice and answered many problems about current situations of cancer therapies and patients’ attitude, promoting our project idea. We are also very grateful to Dr. Zheng Lingling, Dr. Jiang Songshan and other researchers working on microRNA and onolytic virus in our university for their suggestions and comments to unearth hidden problems and risks in our project.</p>


        <h3 class="">Funding and sponsorship: </h3>
        <p>Special thanks to School of Life Sciences of Sun Yat-Sen University for the fund support, and all relevant teachers and administrators for their hard work. Thanks to the Clone it project of GeneScript® for its sponsorship of Gibson Assembly reagent.</p>

        <h3 class="">Our dear instructor: </h3>
        <p>Finally, we want to express our super gratitude to our dear instructor Prof. Lu Yongjun for his close attention and full support to our work. Mr. Lu not only edified us to determine the details and control the progress of our project, but also cared our lab life and helped us to solve funding problems. Without him, we could never achieve what we have today.</p>
        <p>Once again, SYSU-China would like to express our sincerest respect and thanks to all the people who have given us help and support. We worked together to create this year's project! Thanks a lot!</p>
      </div>

      <hr class="col-md-13">
    </div>
  </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/jquery.js&action=raw&ctype=text/javascript"></script>

<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/bootstrap.js&action=raw&ctype=text/javascript"></script>

</body>
</html>

{{Template:SYSU-CHINA/footer}}
