{{SYSU-CHINA/bootstrap.css}}
{{SYSU-CHINA/carousel.css}}
{{SYSU-CHINA/navbartop}}
{{SYSU-CHINA/backtotopbutton}}
<html>
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel" >


  <div class="carousel-inner" role="listbox">

    <div id="tmback" class="item active img-responsive">
      <div class="container">

        <div class="bg"></div>

        <div class="carousel-caption" style="
        margin-bottom: 10%;">
          <h1 class="hugetitle">Team Members</h1>
        </div>

        <!-- up to next Button-->
        <div class="scroll-down-wrapper">
          <span class="glyphicon glyphicon-chevron-down""></span>
        </div>

      </div>
    </div>


  </div><!-- /.carousel -->
</div>




<!-- Begin Body -->
<div class="mycontainer" id="mycontentcon">
  <div class="row">

    <div class="col-md-9" id="mycontent"
         style="
         text-align: center;
         margin-left: 15%;
         width: 80%;
         background-color: white;
         border-left: 0px;">
      <h1 id="t" class="">Team Members</h1>
      <hr class="col-md-12">

      <img src="https://2019.igem.org/wiki/images/7/7b/T--SYSU-CHINA--1.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Prof. Lu Yongjun" data-content="<p style='text-align: left !important;'><strong>Instructor</strong></p> Why can such a respectable professor be so nice?!!!!" data-html="true">
      <img src="https://2019.igem.org/wiki/images/4/47/T--SYSU-CHINA--2.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Chen Jionglin" data-content="<p style='text-align: left !important;'><strong>Team leader, experiment, modelling, art design, etc</strong></p> Since I participated in iGEM, I’ve learned EVERYTHING." data-html="true">
      <img src="https://2019.igem.org/wiki/images/8/84/T--SYSU-CHINA--3.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Chang Yanqi" data-content="<p style='text-align: left !important;'><strong>Team leader, modelling, human practices</strong></p> A consultant who doesn’t know biological data analysis is not a good team leader." data-html="true">
      <img src="https://2019.igem.org/wiki/images/e/ec/T--SYSU-CHINA--4.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Wu Zhien" data-content="<p style='text-align: left !important;'><strong>Molecular experiment, human practices</strong></p> The world is worth the future." data-html="true">
      <img src="https://2019.igem.org/wiki/images/3/34/T--SYSU-CHINA--5.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Gao Shangfang" data-content="<p style='text-align: left !important;'><strong>Molecular and cell experiment</strong></p> Shh!!! Don’t you see my 96-well plate?" data-html="true">
      <img src="https://2019.igem.org/wiki/images/0/0a/T--SYSU-CHINA--6.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Huang Junyu" data-content="<p style='text-align: left !important;'><strong>Human Practices</strong></p> Connect with our treasure HP boy!" data-html="true">
      <img src="https://2019.igem.org/wiki/images/b/bf/T--SYSU-CHINA--7.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Huang Ao" data-content="<p style='text-align: left !important;'><strong>Human Practices</strong></p> It's fantasitic to see that you can make a difference to the world!" data-html="true">
      <img src="https://2019.igem.org/wiki/images/5/5e/T--SYSU-CHINA--8.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Zhou Shuaixi" data-content="<p style='text-align: left !important;'><strong>Molecular experiment</strong></p> Stay Cool." data-html="true">
      <img src="https://2019.igem.org/wiki/images/e/e7/T--SYSU-CHINA--9.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Wen Rou" data-content="<p style='text-align: left !important;'><strong>Human Practices, experiment</strong></p> Want to steal her GPA." data-html="true">
      <img src="https://2019.igem.org/wiki/images/4/47/T--SYSU-CHINA--10.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Liu Lanjun" data-content="<p style='text-align: left !important;'><strong>Art design, experiment</strong></p> Her paintings are as gorgeous as herself!" data-html="true">
      <img src="https://2019.igem.org/wiki/images/8/88/T--SYSU-CHINA--11.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Lu Yalin" data-content="<p style='text-align: left !important;'><strong>Art design</strong></p> Draw it to fantasy." data-html="true">
      <img src="https://2019.igem.org/wiki/images/b/b7/T--SYSU-CHINA--12.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Wang Chengwei" data-content="<p style='text-align: left !important;'><strong>Wiki builder, modeling</strong></p> Still not good enough to be max well" data-html="true">
      <img src="https://2019.igem.org/wiki/images/8/80/T--SYSU-CHINA--13.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Liang Jiaqi" data-content="<p style='text-align: left !important;'><strong>Modeling</strong></p> Data in my hand, world in my mind." data-html="true">
      <img src="https://2019.igem.org/wiki/images/f/fe/T--SYSU-CHINA--14.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Xu Jiaxian" data-content="<p style='text-align: left !important;'><strong>Advice provider, experiment</strong></p> My wife: Hatsune Miku." data-html="true">
      <img src="https://2019.igem.org/wiki/images/8/8b/T--SYSU-CHINA--15.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="WONG, Yuen Ying" data-content="<p style='text-align: left !important;'><strong>Experiment, art design, human practices</strong></p> The only medico in our team. Future Dr. Wong!" data-html="true">
      <img src="https://2019.igem.org/wiki/images/2/22/T--SYSU-CHINA--16.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="He Yuansi" data-content="<p style='text-align: left !important;'><strong>Experiment helpers, art design assistants</strong></p> Grow better together! Look forward to their show time in next year’s iGEM." data-html="true">
      <img src="https://2019.igem.org/wiki/images/c/c5/T--SYSU-CHINA--17.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Wang Jiaxin" data-content="<p style='text-align: left !important;'><strong>Experiment helpers, art design assistants</strong></p> Grow better together! Look forward to their show time in next year’s iGEM." data-html="true">
      <img src="https://2019.igem.org/wiki/images/a/a0/T--SYSU-CHINA--18.png" style="width:25%; position: relative; box-shadow: none;" class="icon" rel="popover" title="Zhao Bingnan" data-content="<p style='text-align: left !important;'><strong>Experiment helpers, art design assistants</strong></p> Grow better together! Look forward to their show time in next year’s iGEM." data-html="true">

      <hr class="col-md-13">
    </div>
  </div>
</div>
</div>







<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/jquery.js&action=raw&ctype=text/javascript"></script>

<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/bootstrap.js&action=raw&ctype=text/javascript"></script>

</body>
</html>

{{Template:SYSU-CHINA/footer}}
