{{SYSU-CHINA/bootstrap.css}}
{{SYSU-CHINA/carousel.css}}
{{SYSU-CHINA/navbartop}}
{{SYSU-CHINA/backtotopbutton}}
<html>
<body>

<div id="myCarousel" class="carousel slide" data-ride="carousel" >


  <div class="carousel-inner" role="listbox">

    <div id="hpback" class="item active">
      <div class="container">

        <div class="bg"></div>

        <div class="carousel-caption" style="
        margin-bottom: 10%;">
          <h1 class="hugetitle">Human Practices</h1>
        </div>

        <!-- up to next Button-->
        <div class="scroll-down-wrapper">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </div>

      </div>
    </div>


  </div><!-- /.carousel -->
</div>


<div class="mycontainer" id="mycontent1" style="margin-top: 1%; padding-left: 10%; padding-right: 10%;">
  <p class="hptitle" style="margin-top: 5%; margin-left: 3%">Human Practices</p>

  <div class="col-md-15 text-center">
    <hr class="col-md-14" style="margin-bottom: 1%">
    <div class="text-center">
      <button type="button" class="btn btn-primary hpstyle"
              data-toggle="button"  style="
          width: 400px;
          margin-right: 80px;
          font-size: 25px;
          margin-left: 10%;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;"> <a style="color: white;" href="#hphp">Human Practices - Silver</a>
      </button>
      <p>&nbsp;</p>

      <button type="button" class="btn btn-primary hpstyle"
              data-toggle="button"  style="
          width: 400px;
          margin-right: 80px;
          font-size: 25px;
          margin-left: 100px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;"> <a style="color: white;" href="#IHP">Integrated Human Practices</a>
      </button>
      <p>&nbsp;</p>
    </div>
  </div>

  <p><strong>In this page, you will see how our team builds the bridge between our design “AdmiT” with the society, and how does the social feedback make “AdmiT” a more complete project.</strong></p>

</div>

<hr id="hphp" class="col-md-14">

<div class="mycontainer" id="mycontent" style="margin-top: 1%;">
  <p class="hptitle" style="margin-top: 5%; margin-left: 3%">Human Practices - Silver</p>
  <div class="row">
    <div class="col-md-2">
      <ul id="myTab" class="nav nav-tabs nav-pills nav-stacked" data-spy="affix">
        <li class="hptab active">
          <a href="#pa0" data-toggle="tab" style="color: #333333;">
            Overview
          </a>
        </li>
        <li class="hptab">
          <a href="#pa1" data-toggle="tab" style="color: #333333;">
            Doctors
          </a>
        </li>
        <li class="hptab">
          <a href="#pa2" data-toggle="tab" style="color: #333333;">
            Public
          </a>
        </li>
        <li class="hptab">
          <a href="#pa3" data-toggle="tab" style="color: #333333;">
            Experts
          </a>
        </li>
        <li class="hptab">
          <a href="#pa4" data-toggle="tab" style="color: #333333;">
            Engagement & Education
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-9" id="mycontenthp" style="background-color: white; border-left: none; padding-top: 0 !important; width: 82% !important;">
      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="pa0">
          <h2>Overview</h2>
          <p><strong>In this page, you will see how our team builds the bridge between our design “AdmiT” with the society, and how does the social feedback make “AdmiT” a more complete project.</strong></p>
          <h3>Background</h3>
          <p>Researches and attempts into developing new therapeutic methods for cancer treatments are very heated in recent years, which could be attributed to the great and urgent needs and desperate expectations from a tremendous number of cancer patients and their dependents, as well as the society. Colorectal cancer is among the four cancers with the highest mortality rate <sup>[1]</sup>, and yet with unsatisfactory treatment effects. </p>
          <p>We dedicated ourselves in this year’s competition into finding a more specific way of targeting cancer cells and terminating them, with scrutinized inspections of the possible influence it might have out of laboratory. </p>
          <h3>Potential risks</h3>
          <p>Our project is enacted to serve as a supplement for current cancer therapeutic methods. We considered feasibility of clinical application, public acceptance and higher safety as three vital questions needed to be addressed if we want to serve our original purpose.</p>
          <p>We asked ourselves:</p>
          <p>●If our project is put forth to clinical use, what are the details in treatment process?</p>
          <p>●Would doctors and physicians find this process effective, easy to operate and worthy of recommendation in treating cancer patients？</p>
          <p>●Whether patients and dependents would be willingly to accept such a suggestion, and what do they mostly care about when choosing a therapeutic method?</p>
          <p>We probably needed to make a broad survey to collect opinions on these questions, but is it appropriate to abruptly get access to cancer patients with a still immature therapeutic method? It contained application risks and probably ethical risks. We also paid high focus on the safety risks, since we will be using oncolytic virus as circuits carrier an effector to kill tumors. All these questions and worries can only be settled by connecting with the outside world, which is exactly what we have been doing with the development of our project.</p>
          <h3>Corresponding methods and integrations</h3>
          <p>We have worked in mainly three directions in response to these questions:</p>
          <p>●Interviewed Doctors in clinical frontier;</p>
          <p>●Conducted public investigations;</p>
          <p>●Made enquiries with field experts for higher security;</p>
          <p>●Propagation of our ideas and education.</p>
          <p>From Dr. Huang Rongkang, we got a clearer picture of current situations and obstacles cancer therapies face, and details for drug dosing if our project had come to clinical use. </p>
          <p>When collecting public understandings and opinions on cancer and cancer therapy, we received kind suggestions and well-intentioned reminders from Professor Tien Ming Lee, and updated our questionnaire in several aspects.</p>
          <p>In our engagements with field experts in biological science, our circuits were refined with higher security and our experiments easier to conduct. By integrating our plentiful gains into the original designs, we got to transform our wild idea into a more ideal project possible for future application. Among them, we added a new miRNA response element into our circuits, altered drug administration methods, and with public’s opinions grasped in mind, promoted our project with more confidence. Please read on and find out more about our endeavors and fruitful harvests in human practice work!</p>
          <p></p>
          <h3>Reference</h3>
          <p>[1] Bray, Freddie Ian, et al. "Global cancer statistics 2018: GLOBOCAN estimates of incidence and mortality worldwide for 36 cancers in 185 countries.." CA: A Cancer Journal for Clinicians 68.6 (2018): 394-424.</p>
        </div>

        <div class="tab-pane fade" id="pa1">
          <h2>Doctors: fighters in clinical frontiers</h2>
          <h3>What did we do?</h3>
          <p>We started off by paying a visit to Dr. Huang Rongkang in The sixth affiliated hospital of Sun Yat-sen university. Dr. Huang received his Doctor of Medicine in Zhongshan School of Medicine, SYSU and is currently practicing as an attending physician in the department of anus and intestine surgery. He is a specialist in colon cancer therapy with 7 years of rich clinical experience, and stays active in frontline clinical research. We ended up interviewing him twice, respectively in April and September, both with great harvests.</p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/5/5d/T--SYSU-CHINA--HPS1.jpg" style="width:80%; position: relative; margin-left: 10%; margin-left: 10%;">
          <p>&nbsp;</p>
          <p> Before our meeting with Dr. Huang, we made abundant preparations. We even drafted a “battle plan” for this operation to Dr. Huang in which we detailed every doubt we have, every question we want to know, and every possible scenario that might happen in our dialogue. The reason that we attached great importance to this matter was that doctors were utterly busy with patients and it was a precious opportunity for us to get to learn the clinical conditions for cancer therapy. We didn’t want to mess it up! Fortunately, with our unremitting efforts, we eventually harvested fruitfully from Dr. Huang.</p>
          <h3>Why did we choose this approach?</h3>
          <p>Dr. Huang is an experienced clinician combating with colon cancer in medical frontiers. He best understood the pros and cons, and new requirements for current cancer therapy. We decided to interview Dr. Huang face to face with carefully-designed questions. In our first visit in April, when our project had just started, we wanted to learn more about the now available strategies for cancer and whether they were effective enough, and whether our design was worth exploring. When we did the second interview with Dr. Huang in September, a time when our project was more mature, we went for further details to our project’s design and the possibility of putting our design into future practice.</p>
          <h3>What have we learned?</h3>
          <h4>"We have 'land, sea and air' joint operations for colon cancer"</h4>
          <p>Dr. Huang made a vivid metaphor for three mostly used methods against colon cancer as the joint military forces from land, sea and air. They were namely surgery, chemotherapy and radiotherapy. From Dr. Huang, we got to know the Disease Staging and corresponding methods for colorectal cancer. Colon cancer and rectal cancer can be jointly handled, whose development can be divided into 4 stages with corresponding treatment scheme, as shown in the table. Dr. Huang also introduced to us a new concept, five-year survival rate, which declines as cancer grows to higher stages. </p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/a/a5/T--SYSU-CHINA--HPST1.png" style="width:80%; position: relative; margin-left: 10%; margin-right: 10%;">
          <p>&nbsp;</p>
          <p>From Dr. Huang’s description, we had a clearer picture of current conditions and therapeutic methods for colon cancer. Though with quite some effects, current methods for colon cancer are far from perfect. There is still a long way to go against cancer and finding new methods to treat cancer has its urgencies and profound values. Dr. Huang also motivated us to choose colon cancer as our studying object, giving us directions for our future endeavors.</p>
          <h4>“Specificity is the major defect in current cancer therapy”</h4>
          <p>As aforesaid, chemotherapy and radiotherapy are commonly applied to treat cancer, but one of the greatest defects for these methods are attributed to their insufficient ability to tell normal tissues from cancerous cells with high specificity, according to Dr. Huang. Chemotherapy is a systematic treatment by means of cytotoxic chemicals which has a lot of toxic and side effects to normal cells while killing cancer cells. Dr. Huang told us that chemotherapy was called one of his colleagues as to have “<b>333 principles</b>”, that is this method might be efficient to one third of patients, neutral (neither improves nor worsens) to another one third, and ineffective even deteriorated to the rest of the one third due to their side effects. Dr. Huang expected a more precise medicine and local drug delivery methods against cancer to clinical use, to lessen the toxic side effects.</p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/b/b6/T--SYSU-CHINA--HPS2.png" style="width:80%; position: relative; margin-left: 10%; margin-right: 10%;">
          <p>&nbsp;</p>
          <p>That is exactly what we would like to achieve by bringing in specific miRNA profile to distinguish cancer cells from normal tissues with higher resolution, in attempts to reduce toxic side effects. Dr. Huang’s edification and guidance made us even more determined in transforming our wild ideas into a complete and applicable method in supplement to current cancer therapies.</p>
          <h4>“If applicable, there will be no need to worry about the propagation issue”</h4>
          <p> It had been nearly five months since our last visit to Dr. Huang. With a more mature project, we paid Dr. Huang a second visit, hoping to settle the worry of public propagation of our work. We had been worrying about whether the keyword “virus” in our design would lead to public panic due to stereotyping ever since we first constructed our circuits, and we have been gathering wisdoms to reduce possible risks theoretically. Additionally, we wanted to know how would hospitals and medical staffs help promoting a new therapeutic method if it was proved effective.</p>
          <p> Dr. Huang kindly informed us that it won’t be necessary to be anxious about the propagating issue if our design were proved valid in clinical tests. We learned that there are three processes in clinical tests before a new medicine can be approved to come into market. </p>
          <p><b>•Process I</b>: Scientists will collect clinical data on human subjects if the system worked on model animals. Volunteers, mostly high-risk patients, are recruited under strict ethical reviews and examinations. </p>
          <p><b>•Process II</b>: Human experiments will be conducted in a larger scale covering different ranges of ages, races and genders in principles of voluntary participations and informed consents. </p>
          <p><b>•Process III</b>: If the system shown satisfying performance in previous experiments, and received license in one country, more clinical data have to be collected before it can be introduced to another country concerning races, dietary habits, climates, etc.</p>
          <p>“The public would eventually let go of the stereotypes if a new method was truly efficient.” said Dr. Huang. Though we couldn’t go this far in our 2019 iGEM project, Dr. Huang had made us see the possibility of continuing our research in the future and the possibility of leading our lab project to real-life application. It inspires us tremendously! </p>

        </div>
        <div class="tab-pane fade" id="pa2">
          <h2>Public: stakeholders that greatly matter</h2>
          <h3>What did we do?</h3>
          <p> We designed a questionnaire with careful attention and refined it under Professor Lee Tian-ming’s instructions. It was released in late May, gathering information covering all age ranges, with young adults in majority, taking up 56.28% in the total 1297 valid respondents. Their highest academic degrees obtained (including undergraduates) are mostly bachelor degrees, which means that our analyses are mainly representative for relatively young minds with considerable education. Additionally, since we are in Guangdong Province, 914 respondents out of the total 1297 samples were Cantonese, which signified the main voice and needs from local residents, and that our research is on account of “local problem, local solution” principle by starting from Guangdong to future possible further promotion. Control preference scale analysis, Likert scale analysis and some other social survey methods were conducted in our research.</p>
          <p> Notably, we have thought scrupulously concerning the ethical safety before this questionnaire was released. Since our work, though with quite some progress, was still at elementary stage, and we could make no promises to patients struggling with cancer about the therapeutic effects yet. We regarded empty and imprudent promises as utterly irresponsible. Therefore, we took patients’ and their dependents’ feelings and situations into consideration, and specially designed a question by asking the respondents whether they are cancer patients. If they were, the questionnaire would come to an end. We did this with the purpose of reducing unnecessary misunderstandings and needless troubles.</p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/c/c4/T--SYSU-CHINA--WJX.png" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
          <p>&nbsp;</p>
          <p>We put a lot of thoughts into the questionnaire making. We first made an outline from general to specific, and searched online for previous relevant cases to pick out well-designed questions that we can learn from. We further discussed this issue in our regular meeting. Some of our members suggested that we should set up hypothetical scenarios in our questions to get to know people’s response even though they may not have such experience, and we did, which eventually gave us statistics on people’s potential choice tendency towards cancer therapeutic methods.</p>
          <h3>Why did we choose this approach?</h3>
          <p> Since our project is genuinely aiming at the public and the society in future possible application, we need to develop a better understanding of the public’s perspectives towards now-available cancer therapeutic methods, acceptance to the oncolytic virus therapy, and what do they mostly care about or worry about in possible cancer treatment. A well-designed questionnaire is one of the most effective ways in efficiently collecting information, processing data and providing reality-based evidence to our processing research.</p>
          <h3>What have we learned?</h3>
          <h4>“Public tends to adopt doctors’ suggestions in face of more ‘Serious illnesses’”</h4>
          <p>We applied <b>Control Preference Scale</b> in the questionnaire to see people’s preference of medical therapy in “slight illness” (e.g. common colds), and “serious illness”, (e.g. cancers), respectively. In response to this, we have given 5 possible options and asked respondents to fully consider the weight of “self judgement” and “doctor’s advice” when deciding the therapeutic schemes, and to grade each option on a scale of 1 to 5 (The higher the score, the more approval it shows). </p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/1/1f/T--SYSU-CHINA--HPS3.png" style="width:80%; position: relative; margin-left: 10%; margin-right: 10%;">
          <p>&nbsp;</p>
          <p>The line chart shows that people have higher preference (2.04 points) in deciding the therapeutic schemes completely by themselves in face of slight illnesses. When confronted with more serious illnesses, however, the average score on “Up to You Completely” declines to 0.99. Analysis with other options similarly suggests that the public is more willing to give doctors more decision-making power in face of more serious illnesses with higher treatment risks. Thus, it can be seen that if our design is proved effective, hospitals would be more willingly into propagating this new method and people would be more likely to take in doctors’ suggestions with a more open mind. </p>
          <h4>“Public’s understandings over the development of cancer therapy are relatively insufficient”</h4>
          <p>On a Likert scale about “how well do you know about early cancer therapy”, the average scores of the public’s understanding is 2.03. (Score 5 indicates good understanding; score 2-2.5 indicates average understanding level respondents had). We then asked further of their understandings on current cancer therapies development stage. Over half of the respondents (51.13%) selected that the development of current cancer therapies is at middle stage, which means that they can deal with cancer at the early or middle stages, with new therapeutic methods bursting forth regularly. Still, about 25.53% of respondents thought that current cancer therapy development is at its initial stage with low curing rate, and about 22.02% believed that it has reached a bottleneck with little progress. </p>
          <p>In our next question, we asked the respondents to select their already known therapeutic methods. Surgical resection (87.00%), radiotherapy (72.06%) and chemotherapy (92.22) are the best knowns. However, only about one third of people know about immunotherapy (34.44%) and minimally invasive therapy (32.78%), and only 9% of respondents know about oncolytic adenovirus therapy. Given that almost half of the respondents (51.13%) believed that cancer therapy development has reached its middle stage with various new treatment methods, the percentages of their known treatment methods couldn’t match with their understanding on the development stage, which means that they have overestimated their judgement on cancer therapy development stage while in reality, their understandings are insufficient. This may be attributed to the lack of science propagation work done by government or medical institutions to the public.</p>
          <h4>“Public is willing to try some new methods in cancer therapy if it’s proved effective”</h4>
          <p>We collected information on the public's understanding of existing cancer therapies and what types of treatment they would choose if they had cancer. As shown in histogram (A), the most well-known cancer treatment programs are chemotherapy, radiotherapy and surgical resection, accounting for 92.22%, 72.06% and 87.00% of total respondents, respectively. In contrast, the public knows little about adenovirus therapy. Before they were told to select their preferred treatment methods, we first explained to them the oncolytic virus therapy and assumed it to be effective. The statistics shown in histogram (B) amazed us. Even though chemoradiotherapy are best well-learned, people are unwilling to receive these two treatments, which can be partly attributed to the high toxic and side effects resided in. Instead, they revealed higher preference for oncolytic therapy and immunotherapy, both quite burgeoning and newly-coming, over chemoradiotherapy. </p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/1/17/T--SYSU-CHINA--choice_of_therapies.png" style="width:80%; position: relative; margin-left: 10%; margin-right: 10%;">
          <p>&nbsp;</p>
          <h4>“Issues that the public mostly care about in cancer therapy”</h4>
          <p> For a better knowledge of the public’s mentality in cancer-related affairs, we gathered people’s mostly concerned issues in cancer treatment. The pie chart below indicates four features that the public mostly care about when dealing with cancer. Actually, “Therapeutic Effect” is tightly bound to “Security” and “Toxic and Side Effect”. Lower toxic response means more accuracy in cancer targeting and killing, thus higher security. These two factors are link together for a more promising therapeutic effect, which is our original purpose and we have been working on this diligently. </p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/4/4e/T--SYSU-CHINA--HPS4.png" style="width:80%; position: relative; margin-left: 10%; margin-right: 10%;">
          <p>&nbsp;</p>
          <p> The “Treatment Expense”, on the contrary, is hard to measure with precision, particularly when our design is still under progress in such elementary step. Even so, we decided to dig deeper into this issue for possible future applications such as mass manufacturing, and a more humanized yet reasonable pricing. Therefore, we investigated the relation of people’s tendency of contributing to cancer therapy and their financial abilities. It’s no surprise to have seen that the input willingness increased when their incomes are higher, but in each income section, people in resolution with continuous inputting money until the cancer is under control took up the highest percentage. Life is valuable, and it’s worth striving for.</p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/6/67/T--SYSU-CHINA--HPS5.png" style="width:80%; position: relative; margin-left: 10%; margin-right: 10%;">
          <p>&nbsp;</p>
          <p>(Notably, since the “monthly income” question is optional, 8.81%, 4.18%, 2.58% and 4.26% of individuals with monthly incomes of <5k, 5k-10k, 10k-30k and 30k-50k respectively did not choose to fill in this question.)</p>

        </div>

        <div class="tab-pane fade" id="pa3">
          <h2>Experts: specialists at cutting edge</h2>
          <h3>What did we do?</h3>
          <p>We interviewed three professors in the School of Life Science, Sun Yat-sen University. They are Associate Professor Dr. Zheng Lingling, specialized in bioinformatics analysis and non-coding RNA regulatory circuits; Associate Professor Dr. Jiang Songshan, who has many years of experience in studying the relations between tumor tissues and dysregulated miRNA; Professor Dr. Lu Yongjun, who is our mentor in this year’s competition and also mentored SYSU-China in 2013, upon whose platforms have we conducted our experiments. At early stage of our project, we even held a little seminar inviting specialists from different fields for college review, and sparkled new ideas with respect to security and higher specificity.</p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/2/27/T--SYSU-CHINA--HPS6.png" style="width:30%; position: relative; margin-left: 35%; margin-right: 35%;">
          <h3>Why did we choose this approach?</h3>
          <p>We were concerned about the safety of our project. Because if you think about it, the probability of applying our work in future clinical use and reducing the stereotype effects from the public all depends on how secure our project actually is. Even though we have consulted Dr. Huang at hospital, his suggestions to us were mostly application-oriented, like the clinical trial processes and drug dosing details. With the purpose of improving our design’s security, we decided to turn to researchers at scientific cutting edge, who are more sensitive to experiment designs and practicability of our aims.  </p>
          <h3>What have we learned?</h3>
          <h4>“Choose the miRNA combinations carefully and wisely”</h4>
          <p> Dr. Zheng Lingling is one of the most popular teachers and productive researchers in our school. She opens a course in biological programming which receives great popularity from us students because of her interesting and lively teaching. Conversation with her is always pleasant and fruitful. </p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/f/f7/T--SYSU-CHINA--Prof_Zheng.png" style="width:30%; position: relative; margin-left: 35%; margin-right: 35%;">
          <p>&nbsp;</p>
          <p>In our interview with her, she informed us that miRNA profile has been widely served as a marker for cancer detection and prognosis and gave us suggestions when we first set off to select miRNA profiles. She told us that our choice of miRNAs should not only be supported by reliable database, but also supported by available literatures. It would be better if our chosen miRNA and designed miRNA sensors had been tested by previous work. “You are open to innovation and finding new combinations of miRNAs,” said Dr. Zheng, “but it would be a lot less trouble if some relevant researches had been previously done.” She also gave us guidance into the usage of the “The Cancer Genome Atlas Program (TCGA)” database and our R package when we tried to compare and select the miRNA profiles.</p>
          <h4>“Have you considered the miRNA specificity in different tissues?”</h4>
          <p> It was near mid-June when we paid a visit to Dr. Jiang Songshan. He thought highly of our designs and our endeavors into improving the security of the circuits. He also expressed his doubts about how high the specificity our miRNA combinations had in different possible colon cancer patients and in different tissues. He noted that even though our choice of miRNAs were based on careful comparation and selection, we ought to check for sure whether the miRNA expression levels were distinguishable from colon cancer tissues to normal organs or tissues. </p>
          <p>Kindly reminded by Dr. Jiang, we compared our chosen miRNA profiles with other expression levels from various human normal tissues and added another miRNA, 663b into the combination for higher specificity.</p>
          <h4>“You may try ‘Gibson Assembly’ to construct plasmids”</h4>
          <p>Dr. Lu Yongjun is a distinguished scientist in our school with great sentiments to the iGEM competition. He has been the PI and instructor for many years in SYSU-China, including our admirable example, SYSU-China 2013. There is a photo wall in his office, which is full of his students’ pictures participating in the iGEM and souvenirs from MIT. </p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/e/ec/T--SYSU-CHINA--Prof.Lu.png" style="width:30%; position: relative; margin-left: 35%; margin-right: 35%;">
          <p>&nbsp;</p>
          <p> Our experimental works were done at Dr. Lu’s lab, which provides a strong guarantee for basic and more advanced molecular and cell biology operations. We used “3A assembly” previously in constructing plasmids such as the L7Ae detecting element. But Dr. Lu (as well as the CCiC collaboration) informed us with a more convenient way of plasmid constructions using the Gibson Assembly, which relies on homologous recombination to insert targeted sequence into a plasmid with special-designed primers. It greatly improved our work processes!</p>

        </div>

        <div class="tab-pane fade" id="pa4">
          <h2>Engagement & Education</h2>
          <h3>What did we do?</h3>
          <h4>“Propagating through new media--Weibo and WeChat official account”</h4>
          <p>We registered a Weibo (microblog) official page to give propagation of our project and generalize scientific education <a href="https://weibo.com/u/5296658212">(Click this link to enter the home page)</a>. A WeChat official account (WeChat number: gh_405d42dd81aa) was also utilized for the same purpose and we have already attained a reading quantity of more than 750 views per article. Articles and photos are regularly posted in these two platforms. Additionally, we have followed other iGEM teams and they have followed us in order to learn and share wisdoms mutually. Below are the home pages of Weibo official account and WeChat official account.</p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/7/7b/T--SYSU-CHINA--HPS7.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
          <p>&nbsp;</p>
          <p>We have also tried hard to innovate our propaganda methods. Some of our members are really good at painting, and thus we came up with an idea to combine our project “AdimT” with cartoon. In this process, we used Apps like Photoshop and Autodesk SketchBook, and equipment like Apple pencil and Wacom digital board, to create the picture and decide which ones to use by group meeting. On September 1<sup>st</sup>, a hand-drew cartoon was released, both on WeChat official account and Weibo official page, to introduce the oncolytic virus method in cancer treatment we used in our project to the public in a novel and fancy way. This well-designed comic and that cute oncolytic virus figure were very popular among the public and received high praise from readers. Some even claimed that they got to know a lot better about this therapeutic method due to this cartoon.</p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/d/de/T--SYSU-CHINA--HPS8.jpg" style="width:50%; position: relative; margin-left: 25%; margin-left: 25%;">
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/0/08/T--SYSU-CHINA--HPS9.png" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
          <p>&nbsp;</p>
          <p>What's more, for a more direct propaganda, we decided to show our laboratory works and experiment details directly to the public. We first took photos of our lab (under permission) and working environment and then posted then on our media platforms. But we still founded it imperfect. Therefore, we further recorded some video clips and edited them in V-logs to exhibit as many steps as we can in our operation. For a more vivid viewing experience, we even added background music to the V-log and switched the slideshows on the rhythm for fancier effects, hoping that people could take science and our work as pretty cool staffs.</p>
          <p>&nbsp;</p>
          <video src="https://2019.igem.org/wiki/images/8/88/T--SYSU-CHINA--video_in_lab.mp4" controls style="width:80%; position: relative; margin-left: 10%; margin-right: 10%;"></video>
          <p>&nbsp;</p>
          <h4>“Digging iGEM lovers—Lecture in high school”</h4>
          <p>Given that our project is based on a lot of biological knowledge supported by abundant cutting-edge scientific researches and worthy to command. In order to conduct PST activities and spread out our ideas to biological lovers in senior high school, as well as to dig out more excellent potential iGEMers, we and Shenzhen University (SZU) designed a co-lecture for a local senior high school, Shenzhen Foreign Language School (SFLS). We introduced the mechanism and current applications of RNAi technology to high school students and encouraged them to take part in the synthetic biology competition like iGEM, not only to broaden their horizons, but also to experience the pure fun of exploring science.</p>
          <p>To equip the studying process with more fun, we had done a lot of preparations in advance. Firstly, we built an online chat group to learn their already-known knowledge, in order to enact an more appropriate lecturing program. Secondly, we designed many cartoon brochures, fancy postcards with a set of adorable little illustrations explaining to them some difficult conceptions in an easy and light way. It proved to be efficient in raising their interests into our contents while we were delivering lecture. Thirdly, we held a salon after the lecture to interact more closely with students and answered their questions. We have kept the online chat group to update some frontier researches and exchange ideas. <a href="https://2019.igem.org/wiki/images/d/d6/T--SYSU-CHINA--HPS_PPT.pptx">(Click here for the whole version of our PPT)</a></p>
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/2/2c/T--SYSU-CHINA--HPS10.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
          <p>&nbsp;</p>
          <img src="https://2019.igem.org/wiki/images/9/99/T--SYSU-CHINA--HPS11.jpg" style="width:50%; position: relative; margin-left: 25%; margin-right: 25%;">
          <p>&nbsp;</p>
          <h3>Why did we choose this approach?</h3>
          <p>To spread our ideas and design to a larger scale, so that more people could know about our project. Building social platforms to promote perspectives and thoughts is the most convenient and efficient way to interact with the public, and provide them with our points of view. Weibo and WeChat are most commonly used in China. According to a research in 2018, the numbers of Weibo and WeChat users are 337 million and 1.08 billion respectively. Therefore, they are very suitable for the propagation of our project to the public.</p>
          <p>For a more interactive contact, lecture and salon are quite propitious. Senior high school students are more willingly to take in new knowledge, more open to innovations, and about to take their step to higher education. It’s a good opportunity for both sides to learn and interact from each other.</p>
          <h3>What have we learned?</h3>
          <p>We got to learn that high school students were very enthusiastic towards synthetic biology and biological frontiers. They are open-minded and willing to communicate. For the public, they are not as repulsive to the oncolytic virus therapy as we previously estimated. It seems that if we continued to put forth our project in a fun and creative way, while providing more solid evidence for the security of our design, the public might accept with delight our work in cancer therapy.</p>

        </div>

      </div>
    </div>
  </div>
</div>


<hr id="IHP" class="col-md-14">


<p class="hptitle" style="margin-top: 5%;">Integrated Human Practices</p>

<div class="container">

  <h2>Summary</h2>
  <p>&nbsp;&nbsp;The social influence and possible risks of our project have always been our major concern. We dug deep into this aspect by frequently involving with potential stakeholders and experts in relevant fields for a safer and more responsible application. Our project was originally inspired by fragmented evidence, aiming at research hotspots, which in our believe is tightly bound to urgent social needs. From our analysis in early April, 2019, we identified clinical feasibility, public acceptance and higher safety as our main focus in relation with society, and we have been working on this accordingly all through the progress of our project. </p>

  <p>&nbsp;&nbsp;In the first edition of our design, we had planned to construct miRNA-592 and miRNA-885-5p to serve as rejection circuits to specifically respond to colon cancer cells, and to use enema or suppository for drug administration. We were concerned about the propagation issue of our oncolytic virus therapy, worrying that it might result in public panic. It was not until our long endeavors into associating with doctors at clinical frontline and experts at scientific cutting edge, and connecting with common people through questionnaire, which had been elaborately re-modified by Professor Lee’s kind suggestions, had we resolved our doubts and obstacles one after another. </p>

  <p>&nbsp;&nbsp;Back when we put forth the second edition of our project, we added a new miRNA-663b with expression deficiency in colon cancer cells into the circuits, altered our plan for administration from enema or suppository to hydrogel or other methods with longer time effect and higher localization. We were glad to see that our puzzles and worries were gradually wiped out in our way of explorations and negotiations with different aspects, and that our project have made big progress from the original wide idea to a more mature figure with the possibility of being applied in the future. At elementary stage, we still have a long way to go before fully propagating and applying our design in real-life therapy. Even so, we would continuously dedicate our efforts, and hope as well as strive for an early emergence of new therapeutic methods against cancer.</p>

  <p>&nbsp;&nbsp;(Click the buttons in timeline below for details!）</p>
  <p>&nbsp;</p>
  <img src="https://2019.igem.org/wiki/images/6/61/T--SYSU-CHINA--IHPS.jpg" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
  <p>&nbsp;</p>
  <h2>Timeline</h2>
  <h4>(Feel free to click the buttons in the timeline below for details!)</h4>
  <p>&nbsp;</p>


  <div id="timeline">
    <div class="row timeline-movement timeline-movement-top">

      <div class="timeline-badge timeline-future-movement">
        <a href="#">
          <span class="glyphicon glyphicon-time"></span>
        </a>
      </div>

    </div>

    <div class="row timeline-movement">

      <div class="timeline-badge">
        <p class="timeline-balloon-date-year" style="text-align: center !important; margin-top: 10px;">2018</p>
      </div>


      <div class="col-sm-6  timeline-item">
        <div class="row">
          <div class="col-sm-11">
            <div class="timeline-panel debits" data-toggle="modal" data-target="#m1">

              <ul class="timeline-panel-ul">
                <li><span class="importo">Origin and early progress of our project</span></li>
                <li><span class="causale"></span> </li>
                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> In late 2018</small></p> </li>
              </ul>

            </div>

          </div>
        </div>
      </div>

    </div>

    <!--due -->

    <div class="row timeline-movement">


      <div class="timeline-badge">
        <p class="timeline-balloon-date-year" style="text-align: center !important; margin-top: 2px; margin-bottom: 0;">2019</p>
        <p class="timeline-balloon-date-year" style="text-align: center !important;font-size: 14px !important;">APR</p>
      </div>
      <div class=" col-sm-6  timeline-item"></div>
      <div class=" col-sm-6  timeline-item">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-11">
            <div class="timeline-panel debits" data-toggle="modal" data-target="#m2">

              <ul class="timeline-panel-ul">
                <li><span class="importo">Brainstorm sparkled wisdoms</span></li>
                <li><span class="causale"></span> </li>
                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> APR 2019</small></p> </li>
              </ul>

            </div>

          </div>
        </div>
      </div>




    </div>

    <div class="row timeline-movement">


      <div class="timeline-badge">
        <p class="timeline-balloon-date-year" style="text-align: center !important; margin-top: 2px; margin-bottom: 0;">2019</p>
        <p class="timeline-balloon-date-year" style="text-align: center !important;font-size: 14px !important;">APR</p>
      </div>

      <div class="col-sm-6  timeline-item">
        <div class="row">
          <div class="col-sm-11">
            <div class="timeline-panel debits" data-toggle="modal" data-target="#m3">

              <ul class="timeline-panel-ul">
                <li><span class="importo">Our first visit to Dr. Huang Rongkang</span></li>
                <li><span class="causale"></span> </li>
                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> APR 2019</small></p> </li>
              </ul>

            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="row timeline-movement">


      <div class="timeline-badge">
        <p class="timeline-balloon-date-year" style="text-align: center !important; margin-top: 2px; margin-bottom: 0;">2019</p>
        <p class="timeline-balloon-date-year" style="text-align: center !important;font-size: 14px !important;">MAY</p>
      </div>
      <div class="col-sm-6  timeline-item"></div>
      <div class="col-sm-6  timeline-item">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-11">
            <div class="timeline-panel debits" data-toggle="modal" data-target="#m4">
              <ul class="timeline-panel-ul">
                <li><span class="importo">Ambassador Zhang at South China Regional Meeting</span></li>
                <li><span class="causale"> </span> </li>
                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> MAY 2019</small></p> </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="row timeline-movement">


      <div class="timeline-badge">
        <p class="timeline-balloon-date-year" style="text-align: center !important; margin-top: 2px; margin-bottom: 0;">2019</p>
        <p class="timeline-balloon-date-year" style="text-align: center !important;font-size: 14px !important;">MAY</p>
      </div>

      <div class="col-sm-6  timeline-item">
        <div class="row">
          <div class="col-sm-11">
            <div class="timeline-panel debits" data-toggle="modal" data-target="#m5">
              <ul class="timeline-panel-ul">
                <li><span class="importo">A visit to Professor Tien Ming Lee</span></li>
                <li><span class="causale"> </span> </li>
                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> MAY 2019</small></p> </li>
              </ul>
            </div>

          </div>
        </div>
      </div>



    </div>



    <div class="row timeline-movement">


      <div class="timeline-badge">
        <p class="timeline-balloon-date-year" style="text-align: center !important; margin-top: 2px; margin-bottom: 0;">2019</p>
        <p class="timeline-balloon-date-year" style="text-align: center !important;font-size: 14px !important;">JUN</p>
      </div>

      <div class="col-sm-6  timeline-item">

      </div>

      <div class="col-sm-6  timeline-item">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-11">
            <div class="timeline-panel debits" data-toggle="modal" data-target="#m6">
              <ul class="timeline-panel-ul">
                <li><span class="importo">Higher security for our project</span></li>
                <li><span class="causale"></span> </li>
                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> JUNE 2019</small></p> </li>
              </ul>
            </div>

          </div>
        </div>
      </div>


    </div>


    <div class="row timeline-movement">


      <div class="timeline-badge">
        <p class="timeline-balloon-date-year" style="text-align: center !important; margin-top: 2px; margin-bottom: 0;">2019</p>
        <p class="timeline-balloon-date-year" style="text-align: center !important;font-size: 14px !important;">SEP</p>
      </div>

      <div class="col-sm-6  timeline-item">
        <div class="row">
          <div class="col-sm-11">
            <div class="timeline-panel debits" data-toggle="modal" data-target="#m7">
              <ul class="timeline-panel-ul">
                <li><span class="importo">Our second visit to Dr. Huang Rongkang</span></li>
                <li><span class="causale"> </span> </li>
                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> SEP 2019</small></p> </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
  <br style="clear:both;">
  <p>&nbsp;</p>
  <h3>References</h3>
  <p>[1] Lesley F. Degner, Jeff A Sloan, Peri Venkatesh. “The Control Preferences Scale.” Canadian Journal of Nursing Research. 3: 21-43(1997)</p>
  <p>[2] Panwar, Bharat, Gilbert S. Omenn, and Yuanfang Guan. "miRmine: a database of human miRNA expression profiles." Bioinformatics 33.10 (2017): 1554-1560.</p>
  <p>[3] English, Max A., et al. "Programmable CRISPR-responsive smart materials." Science 365.6455 (2019): 780-785.</p>
  <p>[4] Sepantafar, Mohammadmajid, et al. “Engineered Hydrogels in Cancer Therapy and Diagnosis.” Trends in Biotechnology 35.11(2017).</p>
  <p>[5] Park, Semi , et al. "Benefits of Recurrent Colonic Stent Insertion in a Patient with Advanced Gastric Cancer with Carcinomatosis Causing Colonic Obstruction." Yonsei Medical Journal 50.2(2009).</p>
  <p>&nbsp;</p>



</div>



<!-- Modal -->
<div class="modal fade" id="m1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" style="padding-right: 0.3% !important;">
  <div class="modal-dialog" style="margin-left: 10% !important; margin-right: 15% !important;">
    <div class="modal-content" style="width: 80%; margin-left:10%; margin-right:10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h2 class="modal-title" id="myModalLabel1">
          Origin and early progress of our project
        </h2>
      </div>
      <div class="modal-body">
        <p>As early as in late 2018, we had had some tentative motions and still vague ideas for our 2019 project. It was a time when we collected scattering fragments to gradually form a blueprint for our design. We wrote a simple yet creative program, “<b style="color:#FF0000;">crawlers</b>”, in designation of finding the research hotspots in recent years which were often correlated with urgent social needs, and found with amazement that the key word “cancer” topped the lists. </p>
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/8/81/T--SYSU-CHINA--wordcloud.png" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
        <p>&nbsp;</p>
        <p> By serendipity, just when we were thinking hard about how to specifically target cancerous cells while doing the least harm to normal tissues, a lecture addressed by Professor Kuang from Hong Kong University of Science and Technology came to our eyes, and inspired us of the possibilities of using different miRNA expression levels in different organisms to serve as a “identification card” in distinguishing mutated cells from normal tissues. Moreover, a push notification from a scientific official account, reporting a recent research on the application and advantages of oncolytic virus in cancer therapy caught our attention. A wild idea of combining specific miRNAs as response elements with other regulatory molecular switches, and ultimately using the oncolytic virus as our circuits’ carrier, gradually came into beings.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>



<div class="modal fade" id="m2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" style="padding-right: 0.3% !important;">
  <div class="modal-dialog" style="margin-left: 10% !important; margin-right: 15% !important;">
    <div class="modal-content" style="width: 80%; margin-left:10%; margin-right:10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h2 class="modal-title" id="myModalLabel2">
          Brainstorm sparkled wisdoms
        </h2>
      </div>
      <div class="modal-body">
        <p> We considered using miRNAs as response elements and adenovirus as pathway’s carrier a great idea for cancer recognition and treatment, but we didn’t want to be hasty into coming to a decision. As early as this April, we had a general and thorough debate over our project, going into details for experimental verification, brainstorming and exchanging ideas on the feasibility and possible impacts of our design to real-world situations. We asked ourselves: </p>
        <p>1.What is the status quo for cancer therapy? Is it efficient enough or have it reached a bottleneck? </p>
        <p>2.What are public’s recognitions and opinions towards current cancer therapy? What do people genuinely care about?</p>
        <p>3.Would the word “virus” in our project, under stereotype effect, results in public panic? If so, how can we erase such stereotype and introduce our project to the real-world application?</p>
        <p>4.Is our design precise enough? How would specificity be guaranteed in the miRNA profile once selected?</p>
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/d/d6/T--SYSU-CHINA--meeting.jpg" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
        <p>&nbsp;</p>
        <p>Guided by these questions, we sorted ourselves into small work groups, and sprung into actions in mainly three directions, clinical frontiers, the public and research frontline in correspondence to our put-forth doubts. This meeting laid the foundation for our future human practice activities and frequent engagements with societies. And all our efforts proved to be very fruitful in assistance of the development of our project.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


<div class="modal fade" id="m3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true" style="padding-right: 0.3% !important;">
  <div class="modal-dialog" style="margin-left: 10% !important; margin-right: 15% !important;">
    <div class="modal-content" style="width: 80%; margin-left:10%; margin-right:10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h2 class="modal-title" id="myModalLabel3">
          Our first visit to Dr. Huang Rongkang
        </h2>
      </div>
      <div class="modal-body">

        <p>We conducted an interview with Dr. Huang Rongkang from the sixth affiliated hospital, SYSU who has about a decade of rich experience in colon and rectal clinical therapy. We hoped to get a better understanding of the current situations and dilemmas against cancer therapy and we were not disappointed. From Dr. Huang, we got to learned that the colorectal cancer’s development can be divided into 4 stages and there are corresponding therapeutic methods under different situations. Even with such routinizations, however, current methods in cancer treatment were not that promising as indicated by the five-year survival rate, and it was mainly attributed to an insufficient amount of specificity in telling the cancerous cells apart from normal tissues, which would lead to serious toxic and side effects, according to Dr. Huang. </p>
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/3/3b/T--SYSU-CHINA--Dr._Huang.jpg" style="width:30%; position: relative; margin-left: 35%; margin-right: 35%;">
        <p>&nbsp;</p>
        <p>Higher specificity has been our main purpose ever since our project originally started, and Dr. Huang’s descriptions made us even more resolute into resolving this issue. Motivated by Dr. Huang, we decided to put our focus on colon cancer, which in today is still one of the most commonly-seen and serious malignant tumors in digestive system with an average five-year survival rate of only mere 40%. Our following work of filtering the specific miRNA profile on TCGA, as guided by Dr. Zheng Lingling from the School of Life Science, SYSU, was built on this.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


<div class="modal fade" id="m4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true" style="padding-right: 0.3% !important;">
  <div class="modal-dialog" style="margin-left: 10% !important; margin-right: 15% !important;">
    <div class="modal-content" style="width: 80%; margin-left:10%; margin-right:10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h2 class="modal-title" id="myModalLabel4">
          Ambassador Zhang at South China Regional Meeting
        </h2>
      </div>
      <div class="modal-body">
        <p> We had long thought about collecting opinions and perspectives from the public, who are probably the most vital stakeholders of our project. We had designed a questionnaire with special attentions, ready to release in late April. It just so happened and quite fortunately indeed, that we attended the iGEM Southern China Regional Meeting where ambassador Dorothy Zhang, iGEM Regional ambassador for Asia in the 6th CCiC (Conference of China iGEMer Community), kindly advised us to consult specialists before posting the questionnaire, for the sake of ethical safety. It gave us head reminder to draw rein on our intended public investigation. Guided by this, we contacted Professor Tien Ming Lee at the School of Life Science, SYSU, for more details into the questionnaire design.</p>
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/d/de/T--SYSU-CHINA--South_China_2.jpg" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

<div class="modal fade" id="m5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true" style="padding-right: 0.3% !important;">
  <div class="modal-dialog" style="margin-left: 10% !important; margin-right: 15% !important;">
    <div class="modal-content" style="width: 80%; margin-left:10%; margin-right:10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h2 class="modal-title" id="myModalLabel5">
          A visit to Professor Tien Ming Lee
        </h2>
      </div>
      <div class="modal-body">
        <img src="https://2019.igem.org/wiki/images/9/97/T--SYSU-CHINA--Tian_Ming_Lee.png" style="width:30%; position: relative; margin-left: 35%; margin-right: 35%;">
        <p>&nbsp;</p>
        <p>In order to investigate public’s opinions and propensity on current cancer therapies, we carefully designed a social questionnaire in late April. Most coincidently and luckily, we came across with ambassador Dorothy Zhang who suggested that we’d better consult an expert in advance. Therefore, we made a consultation with Tien Ming Lee at the School of Life Science, SYSU, a social and ecological protection expert who is especially good at conducting social investigations. After scrutinizing our original questionnaire, he patiently made several suggestions, which underlaid our progress in questionnaire designing. The followings are our big harvests:</p>
        <p>(1) Given the ethical concerns, cancer patients are not encouraged to be included while investigating. The proper objects for the investigation should be common individuals, doctors, nursing workers at hospitals, friends and relatives of the patients.</p>
        <p style="color:#D9B300;">Taking patients’ and their relatives’ emotions into consideration, we set a logic skip. If the cancer patients come across with our questionnaire and pressed the button, “I am a cancer patient”, the web page would directly skip to the thank-you page.</p>
        <p>(2) Design a series of questions to euphemistically ask respondents who might be close to some cancer patients to find out whether the treatment the patient receives is effective.</p>
        <p style="color:#D9B300;">We added a question, that is “Do you or someone close to you have cancer?” If the answer is “Yes”, a logic skip would be triggered and the following questions would be: “What kinds of treatment did you/he (the cancer patient) adopt?” and “what is the current treatment effect of you/him (cancer patients)?” Professor Lee advised us to set this series of logic questions to learn what are the most commonly used cancer therapies and their effectiveness.</p>
        <p> (3) Pay extra attention to people’s concerns in cancer therapy, from which we might extract some sally points to settle such concerns. </p>
        <p style="color:#D9B300;">We set several questions after Prof. Lee’s suggestions to investigate what do the public concern in current and novel cancer therapies, and which methods would one choose if he had cancer. The following questions were added in the second edition:</p>
        <p style="color:#D9B300;">1. What are the factors that you concern when choosing a cancer therapy? Sort the follow possible factors as you see fit.</p>
        <p style="color:#D9B300;">2. What concerns do you have about oncolytic virus therapy to treat cancer?</p>
        <p>(4) Use some specific method such as <strong>Control Preferences Scale</strong> to analyze therapeutic choice tendency when an object is assumed to get either a slight illness or a more serious illness.</p>
        <p>The Control Preferences Scale (CPS) was developed to measure a construct that emerged from a grounded theory of how treatment decisions are made among people with life-threatening illnesses. A scale of preference can be defined as the list of wants or needs that a person writes or comes up with in the order of importance. <a href="https://2019.igem.org/wiki/images/8/88/T--SYSU-CHINA--TCPS.pdf">(Click here to obtain the full article of The Control Preferences Scale<sup>[1]</sup>)</a></p>
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/7/7f/T--SYSU-CHINA--CPS.png" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
        <p>&nbsp;</p>
        <p style="color:#D9B300;">The graphic vividly shows 5 possible choices in the “Selection of the Measurement Model”. From option A to E, one’s willingness of actively deciding the treatment scheme declines as more power is resided to his physician. CPS is one of our biggest gains when interviewing Prof. Lee. We applied this skill into our questionnaire, setting a couple of questions for two different situations: “When you go to a doctor for a ‘slight disease’ (such as common), how would you prefer to decide your treatment?” and “When you go to a doctor with a ‘serious disease’ (such as cancer), how would you prefer to decide your treatment?” We found with amazement that patients are more willing to raise doctors’ power of decision in face of more serious illnesses.</p>
        <p>(5) The “superiority effect” in the questionnaire should be reduced to minimum.</p>
        <p style="color:#D9B300;">Prof. Lee gave us well-intentioned warnings concerning superiority effect. Therefore, we make a little adjustment to the orders of our questions. We moved the questions related to oncolytic virus backward in case of giving preconceptions from prior information to respondents. In addition, we delete some questions that might be misleading. We also gave a brief introduction to the oncolytic virus therapy in ahead of relevant questions to ensure respondents with enough information to objectively answer the following questions.</p>
        <p>(6) Consult relevant experts on how to explain the benefits and possible side effects of our project to patients by leaving our stereotype effects.</p>
        <p style="color:#D9B300;">Even though Prof. Lee had given us many suggestions to reduce potential ethical risks and make our questionnaire more logical, he couldn’t answer for sure how to introduce our project, pros and cons simultaneously, to the public and patients with cancer. He advised us to further consult other specialists, such as clinical doctors. In light of this, we paid Dr. Huang Rongkang a second visit afterwards. </p>
        <p>After reflecting on Lee’s advice, we refined our questionnaire over the original version <a href="https://2019.igem.org/wiki/images/e/ee/T--SYSU-CHINA--QFE.docx">(Click here for the first edition of our questionnaire)</a> with less ethical concerns, more precise and accurate words and sentences, and more logics and considerations. We put forth the second edition of our questionnaire shortly afterwards <a href="https://2019.igem.org/wiki/images/c/c5/T--SYSU-CHINA--QSE.docx">(Click here for the second edition of our questionnaire)</a>. This new version of questionnaire have brought us valuable data on public’s opinions with respect to current strategies in treating cancer, their mentality in making therapeutic decisions, and their concerns in cancer therapy.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


<div class="modal fade" id="m6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6" aria-hidden="true" style="padding-right: 0.3% !important;">
  <div class="modal-dialog" style="margin-left: 10% !important; margin-right: 15% !important;">
    <div class="modal-content" style="width: 80%; margin-left:10%; margin-right:10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h2 class="modal-title" id="myModalLabel6">
          Higher security for our project
        </h2>
      </div>
      <div class="modal-body">
        <p>We interviewed Associate Professor, Dr. Jiang Songshan at the School of Life Science, SYSU, a specialist in the field of dysregulation of miRNA and correlated tumor disease. He pointed out in scrutiny his concerns in the specificity of the selected miRNA profile. After our explanation to him of how we chose the miRNA-592 and miRNA-885-5p in the first place, he advised us to check once again whether this combination was specific enough. He raised the possibility that the miRNA expression levels could differ from cells to cells, tissues to tissues, even individuals to individuals, and that we should think harder into this aspect. </p>
        <p>After consulting Dr. Jiang, we checked the tissue specificity of the miRNA expressions, and found with surprise that the miRNA expression levels of the colon cancer cells and male sperm cells were quite similar. From our previous filtering, miRNA-592 showed high expression level in colon cancer cells, and miRNA-885-5p was lowly expressed in colon cancer cells. We designed double rejection circuit and direct rejection circuit for miR-592 and miR-885-5p respectively. In light of the similar expression profile in sperm cells, we added an expression-deficient miRNA, miRNA-663b, into our circuit right next to the coding sequence of our engineered viral capsid gene. The below histogram shows the expression profile obtained from the database miRmine<sup>[2]</sup> of these three miRNAs, leaving colon cancer independently to be identified and killed. It is only with high level of miRNA-592 expression and miRNA-885-5p low expression, and without the existence of miRNA-663b can downstream pathway be activated and viral capsid be successfully constructed. </p>
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/5/50/T--SYSU-CHINA--miRmine.png" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


<div class="modal fade" id="m7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel7" aria-hidden="true" style="padding-right: 0.3% !important;">
  <div class="modal-dialog" style="margin-left: 10% !important; margin-right: 15% !important;">
    <div class="modal-content" style="width: 80%; margin-left:10%; margin-right:10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h2 class="modal-title" id="myModalLabel7">
          Our second visit to Dr. Huang Rongkang
        </h2>
      </div>
      <div class="modal-body">
        <p> Our second visit to Dr. Huang at the sixth affiliated hospital, SYSU, was accompanied with a more mature and well-designed project. During the interview, Dr. Huang introduced to us the common three processes necessary before a new therapeutic method could be applied in a large scale, and untied the knot of our worries about the future promotion of our project. </p>
        <p>Another big harvest we gained in our second visit was the amendment of our drug-delivery methods. In our original design, we wanted to use enema or suppository, which based on our former understanding could continuously dose medicine to target intestinal regions. But Dr. Huang, from his rich clinical experience, said that even though enema and suppository are very good ways for continuous and local dosing, their spheres of influence and time effects are limited. He then showed us a graphic of intestine structures on his laptop and pointed out that dosing with enema or suppository can only function around the anus zone and little rectum. In addition, the treatment time wouldn’t last long since patients would feel uncomfortable and defecate the drug liquid in no more than 30 minutes. </p>
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/c/c7/T--SYSU-CHINA--Dr._HuangPC.png" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/a/a6/T--SYSU-CHINA--intestinal_structure.png" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
        <p>&nbsp;</p>
        <p>Inspired by Dr. Huang, we decided to dig deeper into this aspect into finding a more proper way of drug dosing. We collected more information in search of a better drug delivery method and found with amazement in a 2019 journal <sup>[3]</sup> published on Science a new method using hydrogel in drug dosing. As shown in the table, hydrogel is relatively stable and has high biological compatibility. It can realize a more exquisite and precise drug dosing regulation with longer treatment time, compared to enema and suppository. Though still under experiment examinations, it might as well be a proper way for drug delivery for future possible application.</p>
        <p>&nbsp;</p>
        <img src="https://2019.igem.org/wiki/images/7/7c/T--SYSU-CHINA--IHPT1.png" style="width:60%; position: relative; margin-left: 20%; margin-right: 20%;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


<div class="modal fade" id="m8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-right: 0.3% !important;">
  <div class="modal-dialog" style="margin-left: 10% !important; margin-right: 15% !important;">
    <div class="modal-content" style="width: 80%; margin-left:10%; margin-right:10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h2 class="modal-title" id="myModalLabel">
          Origin and early progress of our project
        </h2>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>











<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/jquery.js&action=raw&ctype=text/javascript"></script>

<script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:SYSU-CHINA/bootstrap.js&action=raw&ctype=text/javascript"></script>


</body>
</html>

{{Template:SYSU-CHINA/footer}}
